[2019-10-10 05:48] priyaananthasankar opened #1 "Testing Azure Board + Github integration AB#268974"

[2019-10-14 22:55] #1 closed, assigned to nobody

[2019-12-03 19:13] priyaananthasankar opened #4 "Getting Started GRPC - Python + .NET Guide"

[2019-12-13 19:17] scgbear opened #5 "Code refactor/Clean up"
Need to spend sometime to refactor the code to be more inline with PEP-8 and more readable all together

[2019-12-24 05:02] shervyna opened #10 "github action CI"

[2019-12-25 00:12] priyaananthasankar opened #11 "Durable Python API Design Document"
Publish a README for API Design to be reviewed by all parties continuously through evolution of the project.

[2019-12-25 00:46] #10 closed, assigned to shervyna

[2019-12-25 14:40] shervyna opened #15 "azure pipeline CI"
- update azure-pipeline.yml
- add status badge to readme.md

[2019-12-27 00:10] #15 closed, assigned to nobody

[2020-01-06 17:03] #5 closed, assigned to nobody

[2020-01-07 18:27] scgbear opened #16 "Function Chaining Implementation"
[AB#308899](https://csefy19.visualstudio.com/517f9a84-e20a-43dd-a0b5-d93b5a998480/_workitems/edit/308899) Need to create the functionality required to be able to implement the Function Chaining pattern.

[2020-01-09 06:32] priyaananthasankar opened #18 "Update Azure Pipelines and branch policy"
PR Merge Restrictions:

1. Create dev branch
2. Update Azure CI Pipeline to run off both dev and master branch
3. Restricted Branch policy for both dev and master branch

[2020-01-09 21:34] #18 closed, assigned to nobody

[2020-01-17 11:46] shervyna opened #22 "make flake8 errors block build checks, fix all lint errors"

[2020-01-17 17:52] scgbear opened #23 "result is not being parsed as JSON"
need to make sure the result value passed back from the durable extension is being parsed as JSON

[2020-01-21 04:58] #22 closed, assigned to shervyna

[2020-01-22 00:59] shervyna opened #27 "WaitForExternalEvent"
[AB#325251](https://csefy19.visualstudio.com/517f9a84-e20a-43dd-a0b5-d93b5a998480/_workitems/edit/325251) Wait for events
The WaitForExternalEvent (.NET) and waitForExternalEvent (JavaScript) methods of the orchestration trigger binding allows an orchestrator function to asynchronously wait and listen for an external event. The listening orchestrator function declares the name of the event and the

[2020-01-22 03:57] priyaananthasankar opened #28 "DocString Convention"
Justification to use numpy docstring is given below (from https://numpydoc.readthedocs.io/en/latest/format.html)

From: https://www.datacamp.com/community/tutorials/docstrings-python#seven-sub
Sphinx is the easy and traditional style, verbose and was initially created specifically for the Python Documentation. Sphinx uses a reStructuredText which is similar in usage to Markdown.

Numpy style has a

[2020-01-22 04:01] #23 closed, assigned to nobody

[2020-01-22 21:52] priyaananthasankar opened #30 "Add pipeline blurb for dev branch in durable-python"
The snippet on the repo only shows pipeline to be running from master branch. The pipeline runs on dev branch. Update the snippet to reflect the same

[2020-01-23 00:10] priyaananthasankar opened #34 "Remove redundant functions in DurableOrchestrationContext"
Remove the following redundant function names:

def call_activity(self, name: str, input_=None) -> Task:
        """Schedule an activity for execution.

        :param name: The name of the activity function to call.
        :param input_:The JSON-serializable input to pass to the activity
        function.
        :return: A Durable Task that completes when the called activity
        function co

[2020-01-24 02:05] priyaananthasankar opened #35 "Monitoring and Custom Orchestration Status Pattern"
[AB#325490](https://csefy19.visualstudio.com/517f9a84-e20a-43dd-a0b5-d93b5a998480/_workitems/edit/325490)
- Implements Durable Monitoring Pattern
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-monitor

- Implement custom orchestration status for long polling and intermediate states of a long running job
https://docs.microsoft.com/en-us/azure/azure-functions/durabl

[2020-01-24 02:13] priyaananthasankar opened #36 "Fan In/Fan Out Pattern"
[AB#325489](https://csefy19.visualstudio.com/517f9a84-e20a-43dd-a0b5-d93b5a998480/_workitems/edit/325489)
- Implement FanIn/FanOut scenario for Durable Python
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-cloud-backup

[2020-01-24 02:16] #30 closed, assigned to nobody

[2020-01-29 03:02] priyaananthasankar opened #37 "Refactor: lambda expressions for find* methods in task_utilities.py"
Refactor double negation and complementary operators to improve code readability for all find*methods in task_utilities.py
Eg:
[code]

[2020-01-29 18:34] #16 closed, assigned to scgbear

[2020-01-31 00:18] priyaananthasankar opened #40 "Error handling in Task.Any"
Task.Any needs to handle faulted use case.

[2020-01-31 00:19] shervyna opened #41 "handle tasksets in task_any() or task_all()"
right now it only takes tasks, so if we do something like
timertask= # createtimer....
yield context.df.task_any(context.df.task_all([task1, task2]), timertask)
this will cause an error

[2020-02-06 06:31] shervyna opened #44 "implement client management apis"
- raise event
- createCheckStatusResponse
- getStatus

[2020-02-07 05:57] #36 closed, assigned to scgbear

[2020-02-11 07:32] #27 closed, assigned to shervyna

[2020-02-13 23:31] priyaananthasankar opened #47 "410 Http Code for raiseEvent"
azure-functions-durable-js does nothing for 410 error code and should Python durable functions do the same as well? Or raise a valid Exception.
cc: @cgillum @ConnorMcMahon @anthonychu

[2020-02-13 23:36] priyaananthasankar opened #48 "remove validation for URL's in createCheckStatusResponse"

[2020-02-13 23:48] #41 closed, assigned to nobody

[2020-02-13 23:50] shervyna opened #49 "use rpc url for faster connection"
refer to the js link for the implementation for using rpc url

https://github.com/Azure/azure-functions-durable-js/blob/1cd822e6cee2fd110638db6cfcaf3bc40c6d284f/src/durableorchestrationclient.ts#L383

[2020-02-18 16:09] #37 closed, assigned to priyaananthasankar

[2020-02-18 16:17] #34 closed, assigned to scgbear

[2020-02-18 16:19] #40 closed, assigned to nobody

[2020-02-19 22:53] #48 closed, assigned to nobody

[2020-02-21 01:21] #28 closed, assigned to priyaananthasankar

[2020-02-21 01:21] #49 closed, assigned to nobody

[2020-03-02 19:38] priyaananthasankar opened #59 "Extensibility for Python Durable Bindings"
https://github.com/Azure/azure-functions-python-worker/wiki/Adding-support-for-a-new-binding-type for Durable.

[2020-03-06 19:07] scgbear opened #62 "SubOrchestration and SubOrchestration with Retry"
Need to build out the ability to create SubOrchestration and SubOrchestration with retry capabilities within the DurableOrchestrationContext.

[2020-03-09 18:06] #44 closed, assigned to nobody

[2020-03-11 16:52] #59 closed, assigned to nobody

[2020-03-11 16:54] anthonychu opened #65 "Remove @staticmethod from functions outside classes"
Got some of these errors accessing functions in http_util.py due to `@staticmethod` decorator on functions outside classes:

[code]

[2020-03-12 00:37] anthonychu opened #67 "Add copyright headers"
@Hazhzeng Could you please provide an example of the header that we should include in every file?

[2020-03-12 23:39] davidmrdavid opened #68 "Specify which `host.json` needs to be modified in "Setting up durable-py debugging""
In the Contributor's Guide, there's a section titled "Setting up durable-py debugging" which describes changes that are needed in the `host.json` file. However, there are many `host.json` files in the repo. It would be good to acknowledge in the text that there are many such files, perhaps explain their differences, and specify which needs to be changed.

[2020-03-12 23:44] davidmrdavid opened #69 "Introduce the concept of TaskHubs in "Setting up durable-py debugging""
In the section titled "Setting up durable-py debugging" of the Contributor's Guide, there's an instruction to specify the name of our local task hub. However, the concept of task hubs is not introduced. I suggest including a link to [this](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-task-hubs?tabs=csharp) such that users may read more about what they're setting

[2020-03-12 23:47] davidmrdavid opened #70 "Explain why users will see an `extensions.csproj` in their project in "Setting up durable-py debugging""
Contributors may not understand why they need to carry and potentially edit a .NET configuration file in their Python project. It would be good to shine some light onto that and explain that, at most, they will only be expected to change the version numbers of their dependencies

[2020-03-12 23:49] davidmrdavid opened #71 "No mention of the local.settings.json file in the Contributor's Guide"
Users won't be able to run a `func host start` on a sample without setting a value for `azureWebJobsStorage` in their `local.settings.json` file. This step is skipped in the Contributor's Guide section about 'end-to-end testing'.

I suggest including a sample `local.settings.json` file that uses the local development storage.

[2020-03-13 17:58] #65 closed, assigned to nobody

[2020-03-13 18:17] scgbear opened #73 "Remove dependency on furl from RpcManagementOptions"
Library is overkill for what amounts to a a string concatenation function. Keep in the the test library, but not a requirement for this class.

[2020-03-13 19:27] #73 closed, assigned to scgbear

[2020-03-16 18:37] davidmrdavid opened #80 "No mention of `pip install azure-functions-durable` in the Contributor's Guide"
It should probably be added to the 'Python 3 Tools (pip install)' section of "Pre-requisites".

As an aside, and perhaps something that should be explained in the guide, is the installed code the same as in the `/azure' directory of the repo? If not, how are they different?

[2020-03-25 18:19] priyaananthasankar opened #89 "Fix warning messages in "wait for external event" sample"
The `RaiseEvent` Function will throw a JSON decoding warning in red everytime when trying to decode its input, if I recall correctly. The warning looks like this:

[03/24/2020 00:24:06] Executed 'Functions.RaiseEvent' (Failed, Id=a93d2f7a-8e22-4948-a886-1bafd455db81)
[03/24/2020 00:24:06] System.Private.CoreLib: Exception while executing function: Functions.RaiseEvent. System.Private.CoreLib: Resu

[2020-03-26 05:35] anthonychu opened #90 "Automatically serialize/deserialize activity/suborchestrator arguments and return values"
Looking at the [fan out fan in](https://github.com/Azure/azure-functions-durable-python/tree/d01677a02bc095450db792654cfa031cc9c1b924/samples/fan_out_fan_in) example, there are are a few places where we have to manually serialize/deserialize data that we should eliminate.

When `call_activity` is called, we automatically serialize the input value to a string (for example, we serialize the int to a

[2020-03-26 05:42] anthonychu opened #91 "Do not require input value for start_new, call_activity, etc"
Currently, for all client and context functions that take an input, we must pass `None` if we don't want to pass an input value at all. We should make the input value parameter optional in`start_new`, `call_activity`, etc.

For example,

[code]

should be

[code]

@davidmrdavid @priyaananthasankar

[2020-03-26 05:44] #67 closed, assigned to nobody

[2020-03-26 05:45] #4 closed, assigned to nobody

[2020-03-27 17:00] #80 closed, assigned to davidmrdavid, priyaananthasankar

[2020-03-27 17:00] #71 closed, assigned to priyaananthasankar

[2020-03-27 17:00] #70 closed, assigned to priyaananthasankar

[2020-03-27 17:01] #69 closed, assigned to priyaananthasankar

[2020-03-27 17:01] #68 closed, assigned to nobody

[2020-03-27 17:11] priyaananthasankar opened #94 "Add GitHub Releases and Notes"
Back date releases and changelog for existing release
New GitHub Releases and tags

[2020-03-27 17:15] #89 closed, assigned to davidmrdavid, asedighi

[2020-03-28 00:54] priyaananthasankar opened #95 "Remove scripts and host.json from parent folder"
Remove those folders as they are not required at the library level.

[2020-03-29 23:24] anthonychu opened #96 "Add support for Durable Entities"
Would you like to see [Durable Entities](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-entities?tabs=javascript) supported in Python? Let us know here! If possible, include details about how you plan on using them. Thanks!

[2020-03-30 16:57] priyaananthasankar opened #98 "Add README.md files for samples"
Fan In Fan Out Tensorflow - completed
Wait for External Event - pending

These samples need a proper README file.

[2020-03-30 17:29] priyaananthasankar opened #100 "Test GitHub Action post public"
Test public fork and existing GitHub Action CI workflow.

[2020-04-02 21:43] priyaananthasankar commented on #100
Action runs, check here: https://github.com/Azure/azure-functions-durable-python/actions

[2020-04-02 21:44] #100 closed

[2020-04-02 21:46] priyaananthasankar opened #106 "PyPI library long description update"
The library https://pypi.org/project/azure-functions-durable/ does not have a proper project description. Refer to the current README.md from the current setup.py so that all that description gets updated in PyPI.

From https://packaging.python.org/tutorials/packaging-projects/ - here is a way to update long_description through setup.py.

with open("README.md", "r") as fh:
    long_description = f

[2020-04-06 18:00] priyaananthasankar opened #107 "Rename tasks package to be more descriptive of what functions exist in it"
Tasks package has orchestration API's. Need to find a suitable name than "tasks".

[2020-04-13 20:32] davidmrdavid commented on #91
Just triple checked, and this (`call_activity` with no input) already works, provided that the called Activity has a default value.

You can reproduce this yourself by modifying the `function_chaining` sample as follows:

The new `DurableActivity.py`:

[code]

The new `DurableOrchestration`:

[code]

I'll close this issue, for now. Please feel free to re-open it if necessary 😄

[2020-04-13 20:33] #91 closed

[2020-04-13 21:51] davidmrdavid commented on #107
Assuming this issue refers to [this](https://github.com/Azure/azure-functions-durable-python/tree/dev/azure/durable_functions/tasks) directory.

The name "task" originates, I believe, from our C# foundation where anything `awaitable` is a `Task`. In Python, we do not have `await` so we use `yield`. So really, in Python Durable Functions anything `yield`-able is a task. I think it makes sense to ke

[2020-04-13 21:51] #107 closed

[2020-04-13 22:38] davidmrdavid commented on #94
👍 This task is now done, please see: https://github.com/Azure/azure-functions-durable-python/releases

[2020-04-13 22:38] #94 closed

[2020-04-14 15:49] davidmrdavid commented on #106
Incorporated in https://github.com/Azure/azure-functions-durable-python/pull/108
Closing for now 😄

[2020-04-14 15:49] #106 closed

[2020-04-14 15:49] davidmrdavid commented on #95
Incorporated in https://github.com/Azure/azure-functions-durable-python/pull/108
Closing for now 😄

[2020-04-14 15:49] #95 closed

[2020-04-14 15:50] davidmrdavid commented on #47
Incorporated in https://github.com/Azure/azure-functions-durable-python/pull/108
Closing for now 😄

[2020-04-14 15:50] #47 closed

[2020-04-16 06:17] priyaananthasankar opened #111 "Nox flake8 local run is not reporting linting issues"
How to reproduce:

1. Create a linting error eg: Whitespace before a doc string summary comment, like the one in this line: https://github.com/Azure/azure-functions-durable-python/blob/dev/azure/durable_functions/models/DurableOrchestrationContext.py#L16 where we can insert a space between """ and "Context" to produce the following linter error:

`D210 No whitespaces allowed surrounding docstring

[2020-04-16 22:36] davidmrdavid opened #112 "Orchestrator that does not call any activities will fail"
Orchestrations are assumed to call an activity at least once, this means that an empty orchestration will throw an exception.

[2020-04-21 15:59] mj-nico23 opened #113 "get_status throws ContentTypeError"
I'm trying to implement the Singleton orchestrators following the [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-singletons?tabs=csharp) for .net and the get_status function inside the DurableOrchestrationClient is trowing an Exception (ContentTypeError) the first time I call the HttpStart.

`Exception: ContentTypeError: 0, message='Attempt to deco

[2020-04-21 16:04] mj-nico23 opened #114 "get_status function throw ContentTypeError"
I'm trying to implement the Singleton orchestrators following the [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-singletons?tabs=csharp) for .net and the get_status function inside the DurableOrchestrationClient is trowing an Exception (ContentTypeError) the first time I call the HttpStart.

`Exception: ContentTypeError: 0, message='Attempt to deco

[2020-04-21 16:06] #114 closed

[2020-04-22 04:58] davidmrdavid commented on #90
I got this working, **all** of it! I need to do some cleaning and the solution required more book-keeping that I would have originally wanted, but that's just because the library parses JSON at many places.

I should be submitting a PR soon!

[2020-04-22 05:12] davidmrdavid commented on #113
Hi @mj-nico23, thank you for reaching out!! ⚡ ⚡

Do you mind sharing the code you used for implementing the Singleton? It would help us reproduce your error with ease. In the meantime, I'll look at the exception logic and see if it makes sense to raise this error.

[2020-04-22 13:42] mj-nico23 commented on #113
Thanks for your reply @davidmrdavid.
I updated the first message with my singleton implementation.

[2020-04-23 00:14] davidmrdavid commented on #113
Bingo! I was able to reproduce this. So this is actually a two part problem. I'll describe it below, as I think it's probably helpful to peek into the internals 😄

The first problem is that, when returning an empty body, our server isn't returning a JSON-formatted response, so the following method will fail error out:

https://github.com/Azure/azure-functions-durable-python/blob/dev/azure/durable_

[2020-04-23 17:19] davidmrdavid commented on #113
@mj-nico23 , there's a solution in progress here: https://github.com/Azure/azure-functions-durable-python/pull/115

Note that I had to change your implementation slightly.

[2020-04-24 05:38] priyaananthasankar opened #116 "Remove grpc/protobuf folder"
Folder grpc/protobuf needs to be removed as it is not used here.

[2020-04-27 06:11] priyaananthasankar commented on #112
You mean the orchestrator has to have atleast one call_activity method call?

[2020-04-27 06:12] priyaananthasankar opened #117 "Implement set_custom_status feature"
Implement the feature for set_custom_status API.

[2020-04-27 06:13] #117 closed

[2020-04-27 17:25] davidmrdavid commented on #112
Yes, otherwise it throws an exception...at least on my end 🤔

[2020-04-27 17:26] davidmrdavid commented on #112
I think this has to do with how the generator code is structure. There's a `do-while` structure to it, expecting a task to be scheduled at least once. I think it's a small refactor

[2020-04-30 16:29] ConnorMcMahon opened #118 "Correctly handle orchestration errors"
Currently, there are two approaches to how we can handle errors in orchestrations.

1. **Throw the error**

This causes the function runtime to register that the orchestration execution actually failed. This is positive from an AppInsights + customer visibility perspective.

The downside is that if we throw the error, we don't get the replay events sent back to the C# extension, meaning that we ca

[2020-05-13 19:26] exit-code0 commented on #96
I'm hoping to use durable entities for a simple heartbeat monitor of IoT devices - heartbeat messages would get routed to a service bus queue, which triggers the durable function to save the device info and heartbeat timestamp and check against the age of the last heartbeat received.

[2020-05-27 00:56] davidmrdavid commented on #90
@anthonychu
As important deadlines start closing it, I just double checked all of this again and can confirm, to the extend that some preliminary testing can show, that the bullet-points you listed as proposed changes indeed work, so long as custom classes adhere to exporting a static `to_json` and `from_json`.

However, one edge case that is not implemented is serializing the output of an orchest

[2020-05-27 01:00] anthonychu commented on #90
Thanks. I think initially we can just document support for lists and dicts and wait till we have classes working everywhere before supporting those.

[2020-06-05 12:43] paull87 opened #123 "InvalidURL (No rpcBaseUrl)"
I've tried running some of the samples using `b4` and come across a couple of issues -

It seems that `start_new` expects instance_id and client_input causing the samples to fail. For example, here -  https://github.com/Azure/azure-functions-durable-python/blob/bc0b4591518e7e06cd0a61e30b89a875ae5ab6ca/samples/activity_trigger_types/DurableTrigger/__init__.py#L27
I populate those with `None` and `{

[2020-06-06 11:27] SimonKragh commented on #123
I have the same issue. Running the code in debug mode from VS Code.

[2020-06-06 14:51] anthonychu commented on #123
Thanks for trying this out. Please see the [readme](https://github.com/Azure/azure-functions-durable-python#current-limitations) for the current limitations. Some of the tools are not available yet. We have a VS Code devcontainer that is needed to run Python Durable Functions apps. Hope to have the bits available publicly in the next couple of weeks. Thanks for your patience.

[2020-06-10 18:23] davidmrdavid opened #124 "Complete unit testing for Serialization"
We need to improve the testing of this PR: https://github.com/Azure/azure-functions-durable-python/pull/109

[2020-06-18 19:45] priyaananthasankar opened #131 "Write unit tests for monitoring pattern"
- unit tests for create_timer orchestration

[2020-06-19 02:41] davidmrdavid opened #132 "An activity call to a non-existent function should error-out"
Same as in: https://github.com/Azure/azure-functions-durable-js/issues/197
This appears to be a shared problem among out-of-process languages. Please defer the discussion to the linked thread above

[2020-06-19 02:43] davidmrdavid opened #133 "Explore the possibility of a single file Durable Experience"
What would it look like if we could enable users to use python function / class "decorators" to group all of their Azure Functions in the same file?

I've been told a prototype for this exists for JavaScript, it would be good to explore it.

[2020-06-19 02:44] davidmrdavid opened #134 "Add more samples, include the basic patterns"
As in title, the current samples are too complex for a complete beginner. We should implement basic samples following the Durable patterns, or as many as we can implement with the current functionality.

[2020-06-19 02:48] davidmrdavid opened #135 "Create walkthrough video showing the basics of Durable Functions Python"
The video should include an explanation of how to use the VSCode plugin to successfully initialize and create a simple Durable Pattern. We could use `httpie` to test the endpoints.

[2020-06-19 02:49] davidmrdavid opened #136 "Exceptions are not serializable"
If we raise an exception in an activity function, it is not serialized by the language worker. We need it to be serialized and re-thrown in the orchestrator for the correct experience around try-catch'ed activites.

[2020-06-22 14:47] eavanvalkenburg opened #137 "create or get instance of orchestrator"
I was creating a orchestration that was waiting for three events (from EventGrid) and then calls another two activities and got it working, but noticed that my code is needlessly complex, this is what happens in my trigger (with EventHubTrigger), after creating a blob object with a order_id attribute, I need this code:
[code]

I would expect either the `client.start_new` call to either create a ne

[2020-06-23 21:55] davidmrdavid commented on #137
Hi @eavanvalkenburg , thanks for reaching out! The `get_or_start_new` function sounds interesting. We are currently working internally to get Durable Functions Python ready for public preview, so this may need to wait just a bit, but I'll reach out as soon as possible to see if this fits into our design vision!

cc'ing @anthonychu and @cgillum to get their thoughts

[2020-06-23 23:25] davidmrdavid opened #138 "Consider adding local.settings.json back into the samples"
As per @cgillum's recommendation, it would make it easier for users to get started.

[2020-06-23 23:26] davidmrdavid commented on #138
And a requirements.txt

[2020-06-24 07:12] eavanvalkenburg commented on #96
I built something now that uses events in a orchestrator but that should be using a entity to understand where it is and what's happening, that would also allow more complex patterns, with the entity being updated, running some activities at different points for different states etc.

[2020-06-24 07:17] eavanvalkenburg commented on #137
just also pushed my code to a repo, feel free to use as a sample or something (it uses a EventGridTrigger on the client, Orchestrator that waits for three types of events, two activities, one of which has a output binding to Cosmos): https://github.com/eavanvalkenburg/azure_durable_function_waitforfilesandprocess

[2020-06-24 18:06] davidmrdavid commented on #111
Addressed in: https://github.com/Azure/azure-functions-durable-python/pull/122
Closing.

[2020-06-24 18:06] #111 closed

[2020-06-24 18:08] davidmrdavid commented on #123
@paull87 @SimonKragh
We just release the public preview! Please update your `azure-functions-core-tool` via
`npm i -g azure-functions-core-tools@3 --unsafe-perm true`  to get the required dependencies.

Please let us know if that fixed your error, or not. Thanks!

[2020-06-24 18:09] davidmrdavid opened #141 "Calling a non-existent orchestration should not throw an internal exception"
As per the title.

[2020-06-24 18:12] davidmrdavid commented on #136
I believe this an error that needs to be addressed at the worker level. @hazheng any chance you could lend me a hand on this?

[2020-06-24 20:15] davidmrdavid commented on #136
I take it back, exceptions are serializable. However, when an end-user fails to wrap an exception-throwing activity in a try-catch block, the status of their orchestration throws a non-intuitive error reading: reference not set to instance of an object. We should improve this

[2020-06-24 20:30] priyaananthasankar commented on #135
Also a VS Code CodeTour would be highly beneficial

[2020-06-24 20:32] priyaananthasankar opened #143 "Add VS Code spaces and dev container instructions into Contributor's Guide"
The setup info in Contributor's guide would be great if folks can just use codespaces or dev container and be able to do debugging. Accelerates onboarding for contributions.

[2020-06-24 23:02] davidmrdavid commented on #134
Also add the singleton pattern from: https://github.com/Azure/azure-functions-durable-python/pull/115

[2020-06-25 13:36] iMicknl commented on #134
Would be good to have a sample around `context.call_http()`. It looks supported by the Python SDK, but can not find any samples and couldn't get it working.

https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-features?tabs=csharp

[2020-06-26 05:16] davidmrdavid commented on #141
Addressed in https://github.com/Azure/azure-functions-durable-python/pull/142

[2020-06-26 05:16] #141 closed

[2020-06-26 07:00] davidmrdavid commented on #112
Addressed in: https://github.com/Azure/azure-functions-durable-python/pull/121

[2020-06-26 07:00] #112 closed

[2020-06-26 08:33] aliyevmirzakhan opened #145 "Async call activity in Python"
Hi, I am wondering if there is any Python implementation of **CallActivityAsync()** method as implemented in C# interface, or is there any plan to include it in the next releases.

[2020-06-26 17:04] davidmrdavid commented on #145
Hi @aliyevmirzakhan !

Thanks for raising this issue. Can you clarify what you mean by this question? In Durable Functions JavaScript and Python, `CallActivityAsync` is implemented under `call_activity`. We drop the `async` suffix as it is now idiomatic for Python (or JavaScript).

Does that answer your question? Please let us know if not / if you are requesting a different feature! Overall, our g

[2020-06-26 19:44] aliyevmirzakhan commented on #145
Hi @davidmrdavid  thanks for response,
Yes I was exactly looking for the answer provided. When I read C# docs, somehow, it was stuck to my mind that the function was CallActivity (may be because I was reading Python docs as well) so somehow I confused when I saw CallActivityAsync in another source. Anyways thanks for reply.

[2020-06-26 19:44] #145 closed

[2020-07-01 12:14] aliyevmirzakhan opened #146 "HTTP connections break due to Timeout after deploying to the Portal"
Hi I have developed a Durable Function App which is of following architecture:
![image](https://user-images.githubusercontent.com/47746478/86241752-90702f00-bbb4-11ea-894a-a69f1654b905.png)
When `TimeTrigger` is fired, the orcestrator calls `FetchSensorIds` function which retrieves the data from a server. The orchestrator then calls `StreamRealTimeData` activity function which streams the real tim

[2020-07-02 16:17] mattc-eostar opened #147 "Best practices in waiting for external event"
I see in the sample that a separate endpoint is created in order to raise an event for the orchestrator. Why is this approach taken rather than using `sendEventPostUri` that is returned when the orchestrator is called? Is it merely to allow the decoupling of the calls on the client side?

Using either should work, right? I have used the URI to send an event and the logs show that the event is rece

[2020-07-02 17:51] mattc-eostar commented on #147
I think the DF is properly accepting the external event, but something else is blowing up. I wrapped all activities with try/catch and are not throwing errors. Maybe it is the timer?

Here is my orchestrator:

[code]

[2020-07-05 00:25] anthonychu opened #148 "continue_as_new not working"
Doesn't seem like `continue_as_new` is working.

Repro: https://github.com/anthonychu/python-durable-functions-sql-sync/blob/2178c0329df1f09b8fb1b074c09d69c3315e8f6c/SqlSyncOrchestrator/__init__.py#L27

Orchestrator stays in running state, but no continuation is scheduled.

@davidmrdavid Am I using it correctly?

[2020-07-06 13:33] mattc-eostar opened #149 "Parallel execution seems to cancel previous calls locally"
I am load testing a solution I developed within a python durable function. It is very possible that the durable function will be called by multiple sources and have multiple instances running. I tested this locally with postman and two separate instances were created for each call and I am able to query their statuses.

The second call to the durable function finished and returned a completed stat

[2020-07-06 17:01] davidmrdavid commented on #148
unrelated but: @anthonychu , please don't forget to also assign me to these tickets :)

I have personally not tested this extensively, so I'm not surprised this may have some outstanding bugs. A quick search reveals that it should be implemented:

https://github.com/Azure/azure-functions-durable-python/search?q=continue_as_new&unscoped_q=continue_as_new

with its implementation here:

https://gith

[2020-07-06 22:18] anthonychu commented on #148
I'm not in a hurry to implement this. Just testing out various parts of the API to make sure things are functional. I think it's a P2. Would prioritize other P1's and anything that requires updating the worker/runtime, as that has a long lead time. Thanks.

[2020-07-09 01:48] davidmrdavid commented on #147
Hi @mattc-eostar,
Thanks for reaching out! Durable Functions Python is currently in Public Preview so we are still ironing out some of the details and fixing some bugs, like this one. 😄

The `Object reference not set to an instance of an object.` error is a familiar one. If I recall correctly, this is probably due to accessing an nonexistent property, probably during re-play.

Have you confirmed t

[2020-07-09 01:53] davidmrdavid commented on #149
Hi @mattc-eostar ,
This is an interesting issue, and it does not sound like expected behavior. It is my understanding that if you are calling different orchestrator instances, then their execution should not get affected by one another, and that also there should be no pre-defined limit to local orchestrators.

Do you mind posting a complete minimal reproducer and the steps taken to produce this e

[2020-07-09 02:01] davidmrdavid commented on #146
Hi @aliyevmirzakhan

Thank you for reaching out, this is exactly the kind of issue we want to catch during our Public Preview stage. This is a strange issue, as I don't believe there should be any network instability problems in Azure. Are you able to replicate this issue on multiple deployments? Also, is there a minimal example you could provide that we could use as a reproducer?

With respect to

[2020-07-09 08:07] aliyevmirzakhan commented on #146
Hi @davidmrdavid,

I was able to fix the first issue, by modifying the `header files` in HTTP client to `{"Connection": "close"}` instead of the default`{"Connection": "keep-alive"}` to ensure **connection  pool is closed** after request.  The strange thing is that I never had this issue when I was running the Durable Function in local, but had it after deployment.

Regarding second question, the

[2020-07-09 08:59] anthonychu commented on #146
@Hazhzeng Do you know what’s the proper guidance for http clients in a Python function app? Some of the current guidance is mainly for other languages and are results of some specific limits in the Windows sandbox that might not exist in Linux.

In general, try to make http calls the same way you would in a web app (like flask or Django in this case).

[2020-07-09 12:17] mattc-eostar commented on #147
David,

Thanks for investigating this. I believe the error was happening due to my own mistake. There was a casing issue with some strings that was blowing up my logic. It made it appear that the event was not getting received when it was, but then the orchestrator would end and miss entire block of calling activities. Thank you!

Get Outlook for Android<https://aka.ms/ghei36>

___________________

[2020-07-09 15:59] davidmrdavid commented on #147
Thanks to you! I will close this issue in the meantime then. Please reach out again if the error persists 😄

[2020-07-09 15:59] #147 closed

[2020-07-09 16:03] davidmrdavid commented on #146
I'll defer to @Hazhzeng's input on this one.
In the meantime, @aliyevmirzakhan are you familiar with our (preview) serialization logic for custom objects? Maybe this would help you serialize your static clients. You may find an example here: https://github.com/Azure/azure-functions-durable-python/tree/dev/samples/serialize_arguments

[2020-07-09 16:09] mattc-eostar commented on #149
I will see what I can do. Our orchestrator has multiple functions, db connections, and storage connections in its Activities. I could try playing around with one of the examples that uses events and build a simple activity to run and then hit it locally multiple times.

[2020-07-09 16:31] aliyevmirzakhan commented on #146
Thanks all for your inputs,
@davidmrdavid, I will play around wiith that and come back with issue if there will be any.

[2020-07-10 05:03] MaximRouiller opened #150 "call_http causes the orchestrator to freeze and never resolves"
![image](https://user-images.githubusercontent.com/209384/87118079-6cfa5380-c248-11ea-87da-c3562ba001de.png)
![image](https://user-images.githubusercontent.com/209384/87118093-771c5200-c248-11ea-9e84-1590a041af06.png)

`func` result
[code]
`python --version`result
[code]

Orchestrator code (Name: `HelloWorld`):

[code]

Http Starter code:

[code]

[2020-07-10 05:03] MaximRouiller commented on #150
requirements.txt

[code]

[2020-07-10 14:29] MaximRouiller opened #151 "Tuples passed in parameters are not accessible by name"
Please note that I may be doing things wrong but it seems like it should work. I had to use deconstruction to make it work.

## To reproduce

[code]
[code]

#### Orchestrator

[code]
#### Activity

[code]

[2020-07-10 16:57] MaximRouiller opened #152 "TypeError: Object of type DurableOrchestrationStatus is not JSON serializable"
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-custom-orchestration-status?tabs=javascript
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-custom-orchestration-status?tabs=csharp

That object is clearly serializable in other languages. I will make the sample not depend on that specific object but it should be serializable and the c

[2020-07-10 18:58] davidmrdavid commented on #150
Thanks for bringing this to my attention! Just posting this here for future reference, this is the exception getting thrown by the `durable-extension` side of things:

[code]

I'm on it! ⚡ ⚡

[2020-07-10 19:00] MaximRouiller commented on #151
So while this is "one way" of sending name states  through... I think we should be pushing for Python sets.

[code]
No idea how to "type" it properly in Python however so that city and state can be discoverable from the intellisense.

[2020-07-10 19:02] MaximRouiller opened #153 "Python Azure Durable Functions templates not available within VSCode"
### Screenshot:
![image](https://user-images.githubusercontent.com/209384/87189276-5abafc80-c2be-11ea-8e75-35931786951f.png)

This happened when in a call with @anthonychu but now I have no clue why it's happening again.

Let me know if it's in the right repository.

[2020-07-10 19:24] anthonychu commented on #153
The templates are bundles 1.3.0, which VS Code should be using. Not sure why you don’t see the templates. When it happened to me, it looked like it was an isolated issue but now I’m wondering if it’s more widespread because you haven’t been testing on staging feeds and stuff. Can you either get the issue in vscode-azurefunctions reopened or create a new one there?

/cc @EricJizbaMSFT Looks like Ma

[2020-07-10 19:31] EricJizbaMSFT commented on #153
@anthonychu Is there any chance the production feed updated to 1.3.0 without durable templates? And then later durable templates were added under the same version? If so, that could explain the issue.

[2020-07-10 19:33] anthonychu commented on #153
@soninaren Do you know if 1.3.0 was ever published without durable templates?

[2020-07-10 20:29] davidmrdavid commented on #150
Actually, please ignore my previous comment, I think I was running a faulty version of the source code.

So extensionBundles is currently running extension `v1.8.5`, which maps to this file:
https://github.com/Azure/azure-functions-durable-extension/blob/v1.8.5/src/WebJobs.Extensions.DurableTask/Listener/TaskOrchestrationShim.cs

From what I gather, that file does not support `callHttp`. as an out

[2020-07-10 20:32] davidmrdavid commented on #150
We may want to update durable-extension v1 to return something for a non-supported out-of-proc command, to avoid these _liveness_ problems.

[2020-07-10 20:36] davidmrdavid commented on #151
Thanks for raising this @MaximRouiller , please feel free to automatically assign me to these issue as I'm the main point of contact looking after this repo 💪 .

I'll look into this shortly!

[2020-07-10 20:53] davidmrdavid commented on #151
Ah, so apparently Python does not have a clean built-in solution for serializing `namedtuples` to JSON, and this is the problem. When the activity call gets called, the argument that arrives is not a `Location` but an array containing the values of the `Location` named tuple, which is the default `to_json` behaviour of `namedtuples`.

We'll need to handle this as a special case in our serializatio

[2020-07-10 20:57] davidmrdavid commented on #151
Also looping @Hazhzeng , as he's an owner of the Python worker

[2020-07-10 21:05] davidmrdavid opened #154 "Improve orchestration error reporting"
I've noticed that the errors reported by `client.create_check_status_response`'s  `statusQueryGetUri` do not correspond to the actual errors captured by the Python SDK. Instead, it always reports a generic, and uninformative: `"Object reference not set to an instance of an object."`.

I believe this is an error of how we interact with the `durable-extension` SDK.

[2020-07-10 21:08] davidmrdavid commented on #118
This is related to (or the same error as) : https://github.com/Azure/azure-functions-durable-python/issues/118

[2020-07-10 21:10] MaximRouiller commented on #152
@davidmrdavid Tried to assign you to this but... yeah. I don't have the rights. 😞

[2020-07-10 21:20] soninaren commented on #153
No, Templates for bundle 1.3.0 have been as is since the bundle release.

[2020-07-10 22:07] davidmrdavid commented on #153
Yeah these **are** working for me, _strange_

[2020-07-10 22:12] davidmrdavid commented on #152
Hmm, let's work to fix the assigning thing :)

[2020-07-10 22:17] davidmrdavid commented on #152
@MaximRouiller , the DurableOrchestrationStatus class has a `to_json` method here: https://github.com/Azure/azure-functions-durable-python/blob/dev/azure/durable_functions/models/DurableOrchestrationStatus.py#L68

and it also has a corresponding `from_json` class method. Would using that fix your scenario? Perhaps it's not elegant enough, let me know what you think.

[2020-07-10 22:23] MaximRouiller commented on #152
It would work yes. We need feature equity in our samples

[2020-07-10 22:28] davidmrdavid commented on #152
Ok great, in that case, I'll close this ticket since it works!
Please feel free to re-open if I misunderstood what you meant.
Also feel free to open a new ticket if you find the solution to be hacky / not idiomatic.

[2020-07-10 22:31] MaximRouiller commented on #152
Oh. I've run the code and I get an exception that it's not serializable.

Can we test it again?

[2020-07-10 22:49] davidmrdavid commented on #152
Yup! Do we mind sharing your code real quick?

[2020-07-10 22:52] EricJizbaMSFT commented on #153
I checked telemetry and a decent number of Python users are creating durable functions in our extension (about the same as JavaScript, which has supported durable for a while), so I don't think this is a widespread problem

As a somewhat related side note - I'm a little confused when I look at the [feed](https://functionscdn.azureedge.net/public/ExtensionBundles/Microsoft.Azure.Functions.Extension

[2020-07-10 22:55] MaximRouiller commented on #152
Currently at a restaurant. Will do ASAP.

[2020-07-13 20:20] MaximRouiller opened #155 "Orchestrator returning `False` does not persist that change nor return it"
Returning `True` will persist it into the history table and return it through the HTTP Status API.

Returning `False` will not however.

[code]

## Code

[code]

[2020-07-14 01:39] MaximRouiller commented on #155
cc @cgillum @davidmrdavid

[2020-07-14 17:16] davidmrdavid commented on #155
Whoa, that's a funny error. I found the culprit, it's this line: https://github.com/Azure/azure-functions-durable-python/blob/dev/azure/durable_functions/models/OrchestratorState.py#L80

Since the output in this case is `False`, the linked `if-statement` fails. It should be checking if `self._output` is not None instead. 🤦‍♂️
Will fix in the next release!

[2020-07-14 17:22] MaximRouiller opened #156 "Divergence in route parameter names for Python vs JavaScript"
As per the following docs: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-singletons?tabs=javascript

To retrieve the parameters from the URI, you have to use the `req.params` parameter for JavaScript. For python, you need to use `req.route_params` but `params` is also available.

This is unintuitive.

[code]

cc @cgillum @davidmrdavid

[2020-07-14 17:31] MaximRouiller commented on #156
If this is updated, we're going to need to update docs:

https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-singletons?tabs=javascript

[2020-07-14 17:36] davidmrdavid commented on #156
Yeah, this decision was made before I joined the project so I'm not sure if there was any reasoning behind it. I get the impression that the `func.HttpRequest` datatype is maintained by the Python worker folks, but I could be mistaken. @Hazhzeng , is this datatype maintained by your group? If so, is there any reason by the URL parameters live in `route_params` instead of `params`?

Also looping @p

[2020-07-14 17:39] MaximRouiller commented on #156
We just need to unify ASAP before we have too many users that are using a specific library.

As more users are added, the more painful breaking changes like these are going to be.

[2020-07-14 18:32] davidmrdavid commented on #156
Got it, I'm starting a thread about it with the JS and Python worker folks. I'll get back to you :)

[2020-07-15 03:35] davidmrdavid opened #160 "Implement Rewind"
Reproducer:

[code]

[2020-07-15 03:35] davidmrdavid opened #161 "Implement createHttpManagementPayload"

[2020-07-15 20:07] MaximRouiller commented on #156
@davidmrdavid details on the `wontfix` tag?

[2020-07-15 20:21] davidmrdavid commented on #156
@MaximRouiller , I had just gone to lunch, sorry about the delay :) . I got ahead of myself.

So I spoke with the maintainers of the Python and JavaScript workers to discuss these issues. It is them who ultimately maintain and make the decisions about the `func.HttpRequest` datatype. They agree that the divergence is unfortunate, but apparently they can't change this with ease without causing brea

[2020-07-15 20:46] MaximRouiller commented on #156
It is truly unfortunate. Alright, we'll live with that. Let's make sure we track that potential breaking change so it may be aggregated with others that could be deemed more urgent.

[2020-07-16 18:28] #116 closed

[2020-07-16 18:33] priyaananthasankar commented on #156
@davidmrdavid yep thats a datatype from the language worker that we stuck with.

[2020-07-16 18:48] priyaananthasankar commented on #135
@scgbear @davidmrdavid @anthonychu : Shawn just put together a nice restaurant analogy video to explain the flow specifically for unit testing, but this analogy can be expanded and made useful for this video presentation.

[2020-07-16 18:59] davidmrdavid commented on #135
@priyaananthasankar , that's great! Please share the restaurant video when you get the chance :)

[2020-07-16 19:02] scgbear commented on #135
@davidmrdavid just sent you a link, let me know if you can get to it.

[2020-07-17 01:54] davidmrdavid opened #165 "Enable automatic PEP8 formatter"
Linting errors have been taking a bit to fix, manually. We should incorporate an automatic PEP8-compliant formatter in our build system

[2020-07-17 02:28] davidmrdavid opened #166 "Ensure `None` checks are precise"
Some of our checks for `None` values are of the form:

[code]

but that can break with `bool` values or with datatypes that overload the `__bool__` method. We should change our `None` checks to make sure this doesn't break unexpectedly.

[2020-07-17 03:22] davidmrdavid opened #167 "Simply the SDK internal implementation"
There is a lot of shared logic across many `awaitable` and `yieldable` operations in the SDK, and yet the current approach is to give each of them their own handler. I believe these can be handled more generally, and that a refactor is due for simplifying this SDK.

[2020-07-17 04:40] dave-read opened #168 "When using context.create_timer in monitor pattern, timer doesn't fire after several (usually 6 to 8) iterations"
We're trying to implement the [monitoring](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview?tabs=python#monitoring) pattern.  The target scenario had a polling interval of 30 seconds with expiry time of start + 10 minutes that would result in about 20 polling attempts with a 30 second timer to delay retry.  We consistently saw the function run correctly for

[2020-07-17 11:13] florifa opened #169 "Cannot load 'azure.functions._durable_functions' whenever running DurableOrchestrationClient.py in a docker."
Hi all,

happy to see durable functions now for python. I faced an issue while running the "Fan-out/Fan-in - Simple" in a docker:

First I run the ["Fan-out/Fan-in - Simple"](https://github.com/Azure/azure-functions-durable-python/tree/dev/samples/fan_out_fan_in) example in my local env >> successful. Now I am trying to run the same in a docker.

**Here I am facing issues whenever I trigger the ex

[2020-07-17 16:17] davidmrdavid commented on #169
Hi @florifa

Thanks for reaching out! The `_serialize_custom_object` method is a dependency on the `azure-functions-python-worker`'s library, which you can find [here](https://github.com/Azure/azure-functions-python-library). It is only available in the latest release of the python worker, or at least only in rather recent releases of it. As a result, I'm not too surprised that it may be failing.

[2020-07-17 17:30] davidmrdavid commented on #168
Hi @dave-read

Thanks for reaching out! I'm having some trouble replicating this. Is this a behavior you're seeing **every time**
 or just sometimes?

For instance, below is a snippet of logs from a successful execution on my end.
[code]

I'll also look into the replay issue, the semantics of it can be a bit confusing :)

[2020-07-17 20:45] dave-read commented on #168
hi @davidmrdavid   until today I would have said "every time" since yesterday I never saw it complete.  However I did run the test this morning and first time it did run to completion, but now I've run again and it stopped at the 8th iteration.  Here's the details about the environment:

Found Python version 3.7.5 (python3).
Azure Functions Core Tools (3.0.2630 Commit hash: beec61496e1c5de8aa4ba38

[2020-07-17 22:20] davidmrdavid commented on #168
Hi @dave-read ,

I was actually able to reproduce this issue and I think I found the culprit. It appears that our `datetime` comparison logic was faulty, and a subset of dates failed to be processed correctly, leading to an incorrect processing of our "history events array" during orchestrator replays.

I've created a PR to fix this here: https://github.com/Azure/azure-functions-durable-python/pul

[2020-07-19 05:33] dave-read commented on #168
@davidmrdavid thanks for the quick response.  For the is_replaying logic, let me know if it's better to open a separate issue for that.

[2020-07-19 16:10] davidmrdavid commented on #168
Actually, that would be better @dave-read . Thank you :)

[2020-07-19 19:41] florifa commented on #169
Hi @davidmrdavid,

**Many thanks for your reply.** You guided me into the right direction - now I solved it.

**For future reference:**

- First I checked the packages in my container once again. Looks fine.

[code]

- Then I changed from **mcr.microsoft.com/azure-functions/python:3.0-python3.6** to **mcr.microsoft.com/azure-functions/python:3.0-python3.7** this SOLVED the issue.

[2020-07-19 19:42] #169 closed

[2020-07-19 20:27] dave-read opened #171 "context.is_replaying is not returning expected result when implementing the monitor pattern"
We're trying to implement the [monitoring](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview?tabs=python#monitoring) pattern.   We had seen intermittent issues with timers not continuing as described in #168, however in cases where all timers fired we did not see the expected value returned when referencing ```context.is_replaying```

### What we ran
[code]

[2020-07-21 11:03] florifa opened #172 "statusQueryGetUri delivers 404 - Page not found."
Hi again.

Still on it to run FanInFanOut in a Container. Now my last issue is to receive feedback from statusQueryGetUri which is currently only providing a 404 not found error.

**On my local machine it's working.**
![grafik](https://user-images.githubusercontent.com/40923913/88047626-337fed00-cb52-11ea-921e-d1e6fe5671ee.png)

**Whenever I tried in my container:** I can trigger the function. And

[2020-07-21 22:33] cgillum commented on #172
Hi Flo. When you tried in your own container, where was this container hosted? I'm wondering if there is something about your hosting environment which might be causing these webhook endpoints to not be correctly initialized. For example, I know there are some cases where we expect certain environment variables to present. I'm not sure if that's what's happening here, but it might help us know wha

[2020-07-22 07:22] florifa commented on #172
Hi @cgillum,

I am running a **mcr.microsoft.com/azure-functions/python:3.0-python3.7** in Kubernetes (>> hosted in Azure).

**By now I have set the following system ENVs:**
- AzureWebJobsScriptRoot=/home/site/wwwroot
- AzureFunctionsJobHost__Logging__Console__IsEnabled=true
- ASPNETCORE_URLS=http://*:7001
- WEBSITE_HOSTNAME= _the url of our env, as configured in ingress_

I already checked the in

[2020-07-22 23:28] davidmrdavid commented on #171
Hi @dave-read

Thank you for making this a separate ticket! I've investigated this and, indeed, the `is_replaying` updating logic is missing, so it's reported value is wrong. I believe the fix is simply to add a new `is_played` value in the [Task](https://github.com/Azure/azure-functions-durable-python/blob/dev/azure/durable_functions/models/Task.py) class and have it correspond to the `_is_played

[2020-07-23 04:24] anthonychu commented on #172
Looks like the URLs returned are http, not https. Is your ingress configured to route http traffic to the service? If not, it might be routed to the default backend which might explain why you're not seeing the 404's hit the function app container. Try changing one of those URLs to https and see if you still get a 404.

There are other things you can try as well if you need to diagnose further:
*

[2020-07-23 17:00] florifa commented on #172
**Thanks @anthonychu!**

With your debugging hints I found the root cause of this. While ingress is configured properly for both http and https it's my definition of the `WEBSITE_HOSTNAME` that caused problems.

Our ingress is listening on `/test` to forward my request to the pod, I configured `WEBSITE_HOSTNAME = mydomain.de/test` in the environment. The **statusQueryGetUri** was generated in the

[2020-07-23 17:13] cgillum commented on #172
@florifa interesting. I don't think we ever considered the scenario where the ingress has a URL prefix. Just to make sure I understand what's happening, can you share the HTTP trigger function you're using to start the orchestration and return the statusQueryGetUri? I think to make your setup work, you'd need to customize some of that logic.

[2020-07-23 17:56] florifa commented on #172
**@cgillum for sure:**

I am calling the orchestration with:
`https://mydomain.com/test/api/orchestrators/fileCheck`

Then I am getting the following URLs:
[code]

_Just changed domain and IDs._

Is this what you were searching for?

[2020-07-23 18:48] cgillum commented on #172
@florifa yes, exactly. And just to clarify one thing, when you call the function with `https://mydomain.com/test/api/orchestrators/fileCheck`, does the ingress rewrite the request to `http://mydomain.com/api/orchestrators/fileCheck` (`https` --> `http` and `/test` --> `/`)? The `create_check_status_response` API is designed to look at the URL that was used to trigger the function and generate the

[2020-07-23 19:26] dave-read commented on #171
Thanks @davidmrdavid for the update.  Agree that basic functioning of orchestrator is not impacted, also agree that the logs from the history replay event appear to have the right value in the debug logs, so it does look like propagating that to the context is what's missing.

If the next milestone is out a bit in terms of timeframe, it might be helpful to list this as a [known limitation](https:/

[2020-07-24 03:06] zhenming91 opened #173 "Missing durable function template for Python in VS code"
### Description
Following the tutorial on setting up a durable function using Python. https://docs.microsoft.com/en-us/azure/azure-functions/durable/quickstart-python-vscode

Not able to find durable function orchestration template when creating new function app with Python despite installing the extension as instructed.

### Expected behavior
To be able to see durable function orchestration in th

[2020-07-24 10:05] florifa commented on #172
@cgillum

From `https://mydomain.com/test/api/orchestrators/fileCheck` the ingress is forwarding `https://mydomain.com/api/orchestrators/fileCheck`.

**Here's my easy fix - just replacing `/runtime/` with `/test/runtime/` - working for us:**
[code]

Thanks for your input on this topic. Closing now.

[2020-07-24 10:05] #172 closed

[2020-07-24 17:31] cgillum commented on #173
@anthonychu could you take a quick look at this?

[2020-07-24 21:24] anthonychu commented on #173
Looks like it’s this issue here: https://github.com/microsoft/vscode-azurefunctions/issues/2193

@EricJizbaMSFT could you please help us investigate? Thanks.

[2020-07-27 19:52] ijoosong commented on #153
@EricJizbaMSFT and @MaximRouiller have there been any updates on this issue?

[2020-07-27 19:58] ijoosong commented on #152
@MaximRouiller and @davidmrdavid any updates?

[2020-07-27 20:25] davidmrdavid commented on #152
Not on my end yet, @MaximRouiller , do you have that reproducer?

[2020-07-27 20:49] EricJizbaMSFT commented on #173
@anthonychu that issue is closed and was almost certainly related to the staging feed.

@zhenming91 if you would like us to investigate this on the VS Code side, please file an issue in our repo, including basic information like your version of VS Code, version of the Functions extension, any output from the "Azure Functions" output window and more detailed repro steps: https://github.com/microsof

[2020-07-27 21:00] EricJizbaMSFT commented on #153
@ijoosong No updates. As stated above, most people seem to be creating python durable templates just fine according to our telemetry. It's unclear if this was a bug in the VS Code extension (and if so, what version of the extension) or the template feed. If you have repro steps, you're welcome to [file a bug on our extension](https://github.com/microsoft/vscode-azurefunctions/issues/new) as I cann

[2020-07-28 03:17] davidmrdavid commented on #136
Another related error. If we raise an error at the final line of the orchestrator's `handle` method, it gets swallowed and the orchestrator appears to succeed.

[2020-07-28 03:20] davidmrdavid opened #174 "Enable a debugger to be attached to unit tests"
Our current `nox`-based approach does not make it easy to attach a debugger to our unit tests. This makes debugging them time-consuming and awkward. Once we figure out a clean solution, we should document it in our Contributor's Guide

[2020-07-28 20:35] davidmrdavid opened #175 "Fix schema validation in unit tests"
Many recent PRs have their schema validation step in unit tests disabled because we have not updated our schema definition. We should update this and re-enable the validation step.

https://github.com/Azure/azure-functions-durable-python/pull/157
https://github.com/Azure/azure-functions-durable-python/pull/170

[2020-07-30 02:31] davidmrdavid opened #177 "Generate docs from docstrings"
As in title, necessary for API reference docs.

[2020-07-30 23:27] davidmrdavid opened #178 "DurableOrchestrationStatus's _runtime_status needs correct typing"
It's currently typed as a string, for legacy reasons. It also gets cast to a OrchestrationRuntimeStatus for some operations.
A cleaner solution would have it typed as a OrchestrationRuntimeStatus by default and simply export an automatic `to-string` method.

[2020-07-31 22:57] hergott opened #179 "Does 'yield context.task_all' run activity functions in parallel?"
I am using the Durable Functions Python extension for an econometric model. I tried to achieve parallel function runs with the following code:

[code]

These functions seem to run sequentially, as shown by the timing information that is recorded:

**Run #** | **Start time** | **End time**
-- | -- | --
0 | 18:52:54 | 18:53:44
1 | 18:53:44 | 18:54:34
2 | 18:54:34 | 18:55:24
3 | 18:55:24 | 18:56:12
4

[2020-07-31 23:50] anthonychu commented on #179
Are you running locally or in the consumption plan in Azure?

By default, a single function app instance can process multiple executions at the same time. It looks like what happened here is that when_all queued up a few tasks and a single function app instance grabbed them all. But since this is a CPU bound workload, it is only able to work on them one at a time.

Try to lower your maxConcurrentA

[2020-08-01 01:00] hergott commented on #179
Hi Anthony,

Thanks for your response. This is on the Consumption plan in Azure (not run locally).

I had implemented the throttling example on this website: [https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-perf-and-scale](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-perf-and-scale)

You were completely correct. The problem went

[2020-08-01 01:01] hergott commented on #179
Hi Anthony,

Thanks for your response. This is on the Consumption plan in Azure (not run locally).

I had implemented the throttling example on this website: [https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-perf-and-scale](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-perf-and-scale)

You were completely correct. The problem went

[2020-08-01 01:01] #179 closed

[2020-08-01 02:10] anthonychu commented on #179
Fantastic! We’re also planning to offer more guidance on this in our docs. https://github.com/Azure/azure-functions-durable-extension/issues/1413

[2020-08-04 21:13] ijoosong commented on #152
If no one is able to reproduce it again, I think this should be closed yeah? @davidmrdavid @MaximRouiller

[2020-08-04 21:19] davidmrdavid commented on #152
Good idea, closing for now! Please re-open if we end up getting a repro :)

[2020-08-04 21:19] #152 closed

[2020-08-05 20:45] davidmrdavid commented on #168
Hi @dave-read,

Just wanted to let you know that the fix for this concrete issue has been merged in the latest release of Durable Python. I have a PR almost ready to go for the `is_replaying` flag fix that should be getting merged in the next release. I'm sorry for the delay, we had a handful of internal work to get done to enable this release. Please let me know if the timer issue persists on you

[2020-08-05 20:45] #168 closed

[2020-08-05 20:48] davidmrdavid commented on #156
Closing this issue as we've reached a conclusion. That being said, I'm sure we'll get the change to re-evaluate the status quo in due time :)

[2020-08-05 20:48] #156 closed

[2020-08-05 20:48] davidmrdavid commented on #155
This was addressed in the latest release. Thank you for reporting this issue!

[2020-08-05 20:48] #155 closed

[2020-08-05 20:49] davidmrdavid commented on #149
Hi @mattc-eostar ,

Just wondering if you were able to reproduce this issue? If so, please let us know as I would love to get to the bottom of it. In the meantime, I'll be closing this issue since it's been a couple weeks.

Thank you!

[2020-08-05 20:49] #149 closed

[2020-08-05 20:51] davidmrdavid commented on #150
Closing this issue because, as explained above, this is not a problem with the SDK, but instead is a problem with the extension bundles, which are already in the process of getting released.

[2020-08-05 20:51] #150 closed

[2020-08-05 21:12] ijoosong commented on #153
@EricJizbaMSFT I haven't been able to repro it either.  Maybe we can close this out for now?

[2020-08-05 21:17] davidmrdavid commented on #153
I realize the question wasn't addressed to me but, since I am part of the group that owns this repo, I'd say that I'm ok with closing this since I also have not been able to reproduce it. If we get another case, we'll re-open.

Thanks for following-up @ijoosong !

[2020-08-05 21:17] #153 closed

[2020-08-05 21:18] davidmrdavid commented on #62
This was addressed in the latest release. What a milestone! Thanks!

[2020-08-05 21:18] #62 closed

[2020-08-05 21:20] davidmrdavid commented on #98
These two already have README files, so I'll be closing this.
I do want to improve our sample READMEs in the future, but first there's a bit more dev work to get done, as we prepare towards GA. In the meantime, the current READMEs should do the trick :)

[2020-08-05 21:20] #98 closed

[2020-08-05 21:20] davidmrdavid commented on #113
This was already merged, so I'll be closing this. Thank you for reporting it :)

[2020-08-05 21:20] #113 closed

[2020-08-05 21:23] davidmrdavid commented on #90
With sub-orchestrators implemented, this _should_ already work. I still need to test it to exhaustion, but the serialization layer for sub-orchestrators and regular orchestrators is essentially the same, so I expect them to both work at the moment. I'll be closing this in the meantime, since we've already designed a sensible serialization strategy :)

[2020-08-05 21:23] #90 closed

[2020-08-05 21:29] davidmrdavid commented on #138
Merged!

[2020-08-05 21:29] #138 closed

[2020-08-05 21:30] davidmrdavid commented on #166
Merged!

[2020-08-05 21:30] #166 closed

[2020-08-05 21:30] davidmrdavid commented on #161
Merged!

[2020-08-05 21:30] #161 closed

[2020-08-18 03:23] Josephjxu opened #182 "Timeout Activity Function Causes Orchestrator Not Completing"
I am using the latest version (1.0.0b7). The following code ( modified from original production code) works fine when all activities complete successfully.

    import azure.durable_functions as df

    def orchestrator_function(context: df.DurableOrchestrationContext):
      request = context.get_input()

      retry_options = df.RetryOptions(first_retry_interval_in_milliseconds=5000, max_number_

[2020-08-20 18:51] davidmrdavid commented on #182
Hi @Josephjxu,

Thank you for reaching out! This indeed should not be expected behavior. To investigate this further though, we'll need a more complete reproducer. Any chance you could zip up a reproducer, including activity functions, that _always_ (or at least almost always) shows this behavior? That would help us greatly in trying to fix this issue.

Thanks! Looking forward to investigating thi

[2020-08-24 19:35] davidmrdavid commented on #96
@asipras , oh I have some good news for y'all then 😄

Indeed, Durable Entities for Python are coming and they appear to be working on my local branch. I'm actually expecting to open a PR for those today, although I still need to incorporate a few unit tests for them. Regardless, I believe you can expect them becoming available in the very near future! ⚡ ⚡

[2020-08-24 22:58] hergott opened #183 "client.purge_instance_history_by returns aiohttp.ContentTypeError"
I’m deleting orchestration histories, and [this demo code](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-instance-management?tabs=python#purge-instance-history) wasn’t working for me in multiple ways. I reprogrammed that example, but it was failing with this error:

[code]

For me, this error occurs when either (a) there are no past instances to delete, or (b) th

[2020-08-25 14:37] iMicknl commented on #150
@davidmrdavid it looks I am still facing this same issue. Which ExtensionBundle should I target in my host.json to resolve this issue?

host.json
[code]

[2020-08-25 16:04] Josephjxu commented on #182
I managed to reproduce the issue. Please see the attached
durable_function_app.zip. It runs 10 activity functions in parallel. Each
function will timeout in the first try and succeed in the subsequent retry.
The history table (included in the zip file) shows timeout occurs and all
functions succeed (with correct results) but the orchestration instance
still shows 'running' and never changes to 'co

[2020-08-25 16:25] Josephjxu commented on #182
In case attachment was not received, here they are:

    ---------
    host.json
    ---------
    {
      "version": "2.0",
      "logging": {
        "applicationInsights": {
          "samplingSettings": {
            "isEnabled": true,
            "excludedTypes": "Request"
          }
        }
      },
      "extensionBundle": {
        "id": "Microsoft.Azure.Functions.ExtensionBundle",

[2020-08-25 17:15] davidmrdavid commented on #150
Hi @iMicknl ,

Thanks for reaching out, and the update. I'll reach out to our internal docs teams and have them update our samples and docs. We _just_ released bundles v2 so it may take us a bit before we update all docs to default to bundles v2. I'll keep an eye out for this task though!

⚡ ⚡

[2020-08-26 00:19] davidmrdavid commented on #11
Hi @priyaananthasankar,

Just wondering what this ticket is about and if it's ready to be closed? Thanks!

[2020-08-26 00:19] davidmrdavid commented on #35
Already implemented

[2020-08-26 00:19] #35 closed

[2020-08-26 00:20] davidmrdavid commented on #123
Closing this issue due to inactivity. Please let us know if the problem continues and we'll re-open it!

[2020-08-26 00:20] #123 closed

[2020-08-26 00:24] davidmrdavid commented on #182
Hi @Josephjxu ,

Thank you so much for your reproducer. Indeed, you've stumbled upon a previously unknown bug! After some studying, it appears to me that there's a bad interaction between retried events and the fan-out-fan-in pattern. I'll make it a priority to fix this issue either by the upcoming release, or the next one.

As for the meaning of a large deque count, I am not too sure of it, but I

[2020-08-26 00:27] davidmrdavid commented on #183
Hi @hergott ,

Thanks for reaching out. Hmm, I remember this feature appeared a little brittle upon first implementation, so this could very well be a bug on our end. I'll review this in the coming days and get back to you on an ETA. This will most likely not be a part of our most immediate next release, but we can certainly integrate the fix as part of the next.

I'll get back to you!

⚡ ⚡

[2020-08-26 03:59] Josephjxu commented on #182
David, it is great to hear that you have found the issue. Please let me
know when the new release is ready.

Regards

Joe

On Tue, Aug 25, 2020, 8:25 PM David Justo <notifications@github.com> wrote:

[2020-08-26 04:55] hergott commented on #183
Hi @davidmrdavid ,

Thanks for your response. I'm not sure there's a big rush on this.

IMO, the most important thing for now is that `client.purge_instance_history_by` seems to work as intended, given the conditions I described in my post.

Matt

[2020-08-27 23:02] Josephjxu commented on #182
I am getting some error that might be related to this. Hopefully this can be useful. Furthermore, any assistance being provided are appreciated as well.

The orchestration (durable_function_orchestrator) code looks below:

    def orchestrator_function(context: df.DurableOrchestrationContext):
        request = context.get_input()

        retry_options = df.RetryOptions(first_retry_interval_in_mi

[2020-08-28 03:38] davidmrdavid commented on #183
Ah yes, those docs need some re-doing. It would appear that those are missing `await` statements.

As for the error itself, I think I know what would cause it, there's a missing flag in our HTTP response processor. However, I can't seem to reproduce the error you list in this issue, I get a different one:

[code]

Do you mind attaching a zip'ed reproducer, and your version of the azure-functions-d

[2020-08-28 05:06] hergott commented on #183
I am using the Azure extensions in Visual Studio Code, and I think it recently did an automatic update of functions core tools. Here was my previous version, before I used your `npm` command:

[code]

And here is the same version after I reinstalled using the `npm` command:

[code]

I redeployed the app to Azure and got the same ContentTypeError--in this case, because there were no past instances

[2020-08-28 05:19] hergott commented on #183
By the way, here is a version of the error that contains different information from my original post:

[code]

[2020-08-28 05:32] hergott commented on #183
Hi David,

I just looked at the error you posted, and I think you are going off the [demo code](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-instance-management?tabs=python#purge-instance-history) from the Azure website.

That example tries to return a Python coroutine when the function binding is expecting an HTTP response.

You should use the code I posted abo

[2020-08-28 06:05] davidmrdavid commented on #183
Hi @hergott

You're right, I was accidentally running the wrong sample. I managed to get your error, and find the fix. It's in the PR associated with this issue! Should be fixed soon :)

⚡ ⚡

[2020-08-28 06:25] hergott commented on #183
Fantastic!

[2020-09-01 15:52] Josephjxu opened #189 ""Non-Deterministic workflow detected: TaskScheduledEvent: 0 TaskScheduled" ERROR when activity task failed"
Hello,

I am running into issues with orchestration durable function. The function is written in Python (listed below) but my questions refer to durable functions and related tables in general.

    def orchestrator_function(context: df.DurableOrchestrationContext):
        request = context.get_input()

        retry_options = df.RetryOptions(first_retry_interval_in_milliseconds=5000, max_number_

[2020-09-04 11:46] janpiskur opened #190 "Multiple inputs for an activity not supported?"
Are multiple inputs for an activity not supported? Is there a work around?

[2020-09-04 16:51] ConnorMcMahon commented on #190
This is a limitation of the Durable Task framework and how it handles inputs in general. We don't have any plans to change this for Durable Functions on our roadmap, and have documented [this limitation](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-orchestrations?tabs=python#passing-multiple-parameters).

[2020-09-08 15:41] davidmrdavid commented on #190
Hi @janpiskur,

Indeed, multiple inputs are not allowed in the regular sense, but a composite object is allowed as Connor's link explained above. So please consider passing multiple inputs via a python dictionary such as `{"arg1": "value", "arg2": "value"}`

[2020-09-08 15:41] #190 closed

[2020-09-08 17:39] davidmrdavid commented on #189
Hi @Josephjxu,

Thank you for reaching out. I see @cgillum has already answered a few of your questions, but please let us know if those do not clarify your concerns. In the meantime, I'll respond to question (2) as it may pertain to a known bug in the SDK.

Currently, the released version of the Python Durable SDK contains a regression in our retry-handling logic. This causes us to sometimes read

[2020-09-09 03:39] davidmrdavid opened #191 "Ensure no DurableOrchestrationClient methods fail to decode mesages"
When using aiohttp, the library will, by default, validate that the encoding of a server message matches its format but, with Azure Functions and many other services, the message encoding metadata is often not up to data. This mismatch yields a `mimetype encoding` runtime exception that we've already had to fix in multiple places.

We should create a robust tester to ensure these kinds of error no

[2020-09-09 04:38] davidmrdavid commented on #182
Hi @Josephjxu,

Sorry for the delayed response, was out of office last week. Let me answer your questions one by one
1)  Yes I believe the non-determinism error you're seeing may be related to the bug I'm fixing
2) Please see Chris' answer here: https://github.com/Azure/azure-functions-durable-python/issues/189 (and let's discuss that error in that thread)
3) I'm not sure what you mean by Windows

[2020-09-09 04:44] davidmrdavid commented on #182
@Josephjxu ,

I also had a few requests to ask of you, to help us in investigating the errors you're seeing.

(1) For the original reproducer you pasted, the one with the activities that timeout during first execution:
**(1.a) Does the reproducer continue failing even when running on local storage, that is, when you have `UseDevelopmentStorage=true` in your host.json**
**(2.a) Does the reproducer

[2020-09-09 05:14] davidmrdavid commented on #189
@Josephjxu

Another short question: I notice that your code uses `.copy()` on the orchestrator input in a few places. Why is that and what datatype is the input to the orchestrator?

Thanks!

[2020-09-10 02:47] Josephjxu commented on #182
Please see my answers below
*(1.a) Does the reproducer continue failing even when running on local
storage, that is, when you have UseDevelopmentStorage=true in your
host.json*
Yes, it does fail on local storage.
*(2.a) Does the reproducer continue failing even when updating to the
latest version of the azure-functions-core-tools. You can do this by
running npm i -g azure-functions-core-tools@3 --

[2020-09-11 23:30] #189 closed

[2020-09-14 17:34] davidmrdavid commented on #11
Closing for now!

[2020-09-14 17:34] #11 closed

[2020-09-14 17:35] davidmrdavid commented on #183
Hi @hergott ,

This should have been fixed in the latest version of Durable Python (v1.0.0b8), please let us know if that works on your end. In the meantime, I'll be closing this ticket. Thank you so much for bringing this to our attention!

⚡ ⚡

[2020-09-14 17:35] #183 closed

[2020-09-14 17:35] davidmrdavid commented on #178
Fixed in latest release (v.1.0.0b8)

[2020-09-14 17:35] #178 closed

[2020-09-14 17:35] davidmrdavid commented on #160
Fixed in latest release (v.1.0.0b8)

[2020-09-14 17:35] #160 closed

[2020-09-14 17:36] davidmrdavid commented on #171
Hi @dave-read ,

Sorry this took a long while on our end, we were slowed down by a handful of other pressing issues. The `is_replaying` flag should be implemented in the latest release of Durable Python (v1.0.0b8). Please let us know if that's not working well for you. In the meantime, I'll be closing this issue. Thank you for bringing this to our attention!!

⚡ ⚡

[2020-09-14 17:36] #171 closed

[2020-09-15 05:15] hergott commented on #183
Hi @davidmrdavid ,

I changed the `requirements.txt` file to `azure-functions-durable>=1.0.0b8`, and then I tested this new version both locally and through a deployed Azure Function App.

It sure looks like it works!

The `.instances_deleted` return value gives the correct number of purged instances, and I can see that the instance histories are deleted on Storage Explorer. If there are no orches

[2020-09-15 07:38] janpiskur opened #194 "Non-Deterministic workflow and Object reference not set"
Hi,

I write to you because I get the errors below and because it is hard to debug when the information is so sparse, so I hope you can help:

(1)	Non-Deterministic workflow detected: TaskScheduledEvent: 0 TaskScheduled Hello
(2)	Object reference not set to an instance of an object.

I can’t tell you when these errors happen because they seem to happen so randomly. Currently, I get the “Object ref

[2020-09-15 12:08] josejohny123 opened #195 "Python check status of instance behaving differently"
Hi Team,

code : python

I am implementing singleton using Orchestrate Functions.
Till now client.get_status(instance_id,False,False,False) was giving result like

{'_name': 'GenericEventGridOrchestrator', '_instance_id': 'testclient1regionunitedstatesfdf_cleanse', '_created_time': datetime.datetime(2020, 9, 15, 4, 2, 47, tzinfo=tzlocal()), '_last_updated_time': datetime.datetime(2020, 9, 15, 4, 2

[2020-09-15 21:31] davidmrdavid commented on #195
Hi @josejohny123 ,

Thank you so much for reaching out! Hmm, this error seems suspicious as our latest release of Durable Python affects how runtimeStatuses are represented. Before reaching a conclusion, I'd need two things:
(1) That this error does not occur with `azure-functions-durable==1.0.0b7`
(2) A minimal reproducer of this behaviour so I can see how you were looking to implement the single

[2020-09-16 02:26] josejohny123 commented on #195
Yes David, you are correct. azure-functions-durable==1.0.0b7 is giving " '_runtime_status': 'Completed' format.

Do this return status will not persist in new versions? higher than 1.0.0b7.

[2020-09-16 06:55] josejohny123 commented on #195
Please find the singleton pattern implementation.

async def main(event: func.EventGridEvent, SingletonOrchestration: str):
    client = df.DurableOrchestrationClient(SingletonOrchestration)
    instance_id = client_name + engagement_name + trigger_pattern
    logging.info(f"Instance id '{instance_id}'")
    logging.info(input_instanc_dict)
    flag_set = False
    loop_count = 0
    while flag_se

[2020-09-16 19:10] davidmrdavid opened #197 "Support for cleaning entity storage"
Suggested in: https://github.com/Azure/azure-functions-durable-extension/pull/1442

[2020-09-16 23:23] davidmrdavid commented on #195
Thank you @josejohny123 !

I'm not sure if the return status will persist _as a string_ in future versions. I'm of the impression that having an Enum type, as it currently stands, would be more pythonic and also safer, as it would restricted the range of possible values. Now the problem is that I forgot to export the `runtimeStatus` Enum to users, so of course that's not easy to do at the moment.

[2020-09-16 23:27] davidmrdavid commented on #194
Hi @janpiskur ,

Thank you so much for reaching out! I'm sorry you're having this issue. Unfortunately, there are two errors getting compounded in here. The first one is whatever logic flaw is causing your exception, and the second is that this error is getting _swallowed_ and instead we're seeing this generic exception of "Object reference not set". The second error will make it rather difficult

[2020-09-16 23:36] davidmrdavid commented on #182
Hi @Josephjxu ,

Unfortunately I'm not able to see the attachment. It appears to me that maybe you're responding to this thread via email and not via the GitHub UI itself, which is probably why we're having issues there 😄

In any case, we also release a new version of Durable Python earlier this week, version `1.0.0b8`, which included a handful of fixes to our retrying logic which hopefully mitiga

[2020-09-17 14:22] Josephjxu commented on #182
Hey @davidmrdavid , a quick test showed that the reported issue no longer occur using 1.0.0b8.  Thanks for the quick turn around for the issue. This ticket can be closed. I will let you know if I found anything else ( we may address in different tickets if needed)

A quick question. When a failed task is retried, the method allows a delayed time period (e.g., 5 seconds), is it the waiting time bef

[2020-09-17 17:41] #118 closed

[2020-09-17 21:31] cgillum commented on #177
Also, let's make sure to update the table of contents (toc.yml) to point to the Python.

![image](https://user-images.githubusercontent.com/2704139/93530408-647e6300-f8f2-11ea-912f-f7271e671a9b.png)

[2020-09-18 23:01] davidmrdavid commented on #194
Hi @janpiskur!

We just release Durable Functions for Python `v1.0.0b9` and that should improve our error reporting capabilities. Do you mind reproducing this error with it and letting us know what new stack trace you see? Thank you!!

[2020-09-18 23:09] davidmrdavid commented on #182
Hi @Josephjxu ,

I'm so glad the error is gone! Thank you for your patience with us, and your bug report. I'll answer your questions below.
(1) The delayed time period is indeed the waiting time before it is sent back to the worker queue
(2) If I understand correctly, I believe the answer is yes: we're working on a FIFO order.

I'll be asking the internal team to also review your final question he

[2020-09-19 16:07] #182 closed

[2020-09-21 16:26] davidmrdavid commented on #194
Hi @janpiskur ,

Thank you for the update. A quick follow-up: when you say you're "increasing the load" in order to trigger this error, what exactly does that mean here? How are you increasing it?

[2020-09-21 18:45] davidmrdavid commented on #182
@Josephjxu , just wanted to let you know that I've slightly updated my answer above, please take a look ^ :)

[2020-09-22 07:29] janpiskur commented on #194
Hi @davidmrdavid,

When I increase the load, I read more data by widening the date interval given to the activity. So, if I pass the date interval “2019-09-01:2019-09-03” as a parameter to the activity inside the orchestrator, I read data from September 1 to September 3. Then I can widen this interval (increase the load) to for instance “2019-09-01:2019-09-05”, so it reads data from September 1 to

[2020-09-22 12:03] josejohny123 opened #201 "Non-Deterministic workflow detected: TaskScheduledEvent: 0 TaskScheduled"
Hi,

I am getting below error while using fan-in/fan-out pattern.
azure-functions==1.3.1
azure-functions-durable==1.0.0b7
Python 3.6.8

Code: for orchestrator function.
Activity Function 1 : IngestionQueryExecutor is returning pandas.core.frame.DataFrame
Activity Function 2 : IngestionDataBricksTrigger run for each row in above DF.

[code]

Error message from new task hub:
Non-Deterministic workfl

[2020-09-22 16:05] davidmrdavid commented on #201
Hi @josejohny123 ,

Thanks for reaching out! We made a handful of fixes around our error reporting and failure-recovery logic in the last few durable-python releases. Do you mind re-running this reproducer with the latest release (https://pypi.org/project/azure-functions-durable/1.0.0b9/) and letting us know if the error remains the same? Thanks!

[2020-09-22 16:08] davidmrdavid commented on #201
I'm also looking at the event history you provided (thank you!) and I'm wondering: using the latest release, does the error still occur even if you comment-out everything after the first `call_activity`? Please let me know!

[2020-09-22 16:36] davidmrdavid commented on #194
@janpiskur, that does make sense. I think I'll need to dive into your Azure logs to better understand what could be going on here. For that, do you mind providing me with the following information?

Timeframe issue observed in UTC:
Function App name:
Function name(s): Orchestration function:
Region:
Orchestration instance ID(s):

[2020-09-22 18:26] josejohny123 commented on #201
With 1.0.0b9, please find the log and stack trace.

stack trace has path "C:\projects\azure-webjobs-sdk-rqm4t\src\Microsoft.Azure.WebJobs.Host\Executors". I am running this in cluster, not in local.

[code]

[2020-09-22 18:29] davidmrdavid commented on #201
@josejohny123 , does one of your activities return a `dict`? If so, could you return a different type and confirm if that fixes this error? Just making sure that this is only an error with serializing dictionaries :)

[2020-09-22 19:36] josejohny123 commented on #201
@davidmrdavid , Yes when I  changed return from "pandas.core.frame.DataFrame" to "string" error is gone.

[2020-09-22 19:44] davidmrdavid commented on #201
Thanks @josejohny123 ,

I believe this error is then caused because `DataFrame` objects cannot be serialized by default in Python. We need users to write a simple wrapper around it specifying the serialization and deserialization method that we can use to pass those values over the wire. We have a sample for this here wrapper function here: https://github.com/Azure/azure-functions-durable-python/b

[2020-09-22 19:51] davidmrdavid commented on #194
@janpiskur , I have one more favor to ask of you.

A Non-Deterministic workflow, for your orchestrator, most likely means that the input string you're providing (“2019-09-01:2019-09-05") is somehow not the same as the input string that the activity received. Would you mind logging in the activity the input string you received and double-checking that they indeed look the same? I wonder if they're

[2020-09-23 08:39] janpiskur commented on #194
Hi @davidmrdavid,

Currently, nothing seems to be working, so I can't even debug my error.
After the function crashed (as stated before),
I decided to redeploy, but it complained there was no http trigger. So, I decided
to delete my python function in the azure portal and start all over again with creating
a new one (bi-func-rps-garage-dev01). Now it doesn't complain about the missing http trigger

[2020-09-23 15:33] josejohny123 commented on #201
@davidmrdavid , Yes David. I have converted DataFrame to Json(df.to_json()) and solved it. So it passed json as string from Activity function to Orchestrator, then in Orchestrator I have converted back to DataFrame using pandas.read_json().

[code]

[2020-09-23 15:33] #201 closed

[2020-09-24 14:07] stefaner1 opened #202 "Is is possible for each splited_audio run azure speech to text async in DurableFunctionsOrchestrator?"
Is it possible to run  azure speech_recognizer.start_continuous_recognition() in durable function?

In documentection for azure durable functions I found out that I can not use time.sleep, and this is needed for this to work.

[code]

My DurableFunctionsOrchestrator looks like this:

[code]

and here is the Hello function:
[code]

[2020-09-24 16:43] ConnorMcMahon commented on #202
@stefaner1,

In general, you want to stick any code that is doing IO (I'm assuming the azure speech SDK is making external API calls) into Activity functions, due to the replay nature of orchestrations.

Once you are inside an orchestration function, none of these restrictions should apply, so you can use time.sleep() as you normally would.

From what I can tell, your current code layout, where th

[2020-09-25 15:47] stefaner1 commented on #202
Ok. I managed to make it work. Here is my do and don't list.
- Seems like set_custom_status doesn't like long responses
- Classes response need to be converted to json
- Don't go to progress url on debug  (I think).

[2020-09-25 15:47] #202 closed

[2020-09-25 15:49] stefaner1 opened #203 "Can I run ffmpeg inside azure function?"
Is there a way to ffmpeg inside azure function written i python?

I put ffmpeg-python in requirements.txt, but what I understand it is only framework for ffmpeg.

[2020-09-25 16:23] davidmrdavid commented on #202
Hi @stefaner1 ,

I'm glad you got it working!! Do you mind expanding on "Seems like set_custom_status doesn't like long responses", just trying to make sure that's not a bug. Thanks!

⚡ ⚡

[2020-09-25 16:24] davidmrdavid commented on #203
Hi @stefaner1!

If you put it in requirements.txt,  do a `pip install -r requirements.txt` and then import the library in your activity function, then it should work just fine! Let me know if that doesn't work for you :)

[2020-09-25 16:38] cgillum commented on #202
FWIW, custom status messages cannot exceed 16 KB of Unicode text, as described in the documentation: https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-custom-orchestration-status?tabs=python.

[2020-09-25 18:50] stefaner1 commented on #203
Hi @davidmrdavid!
Thank you for quick response!
You mean I should add `ffmpeg-python` to `requirements.txt`? I done it locally for Windows debugging and it didn't work until I installed `ffmpeg `for Windows (from here https://ffmpeg.org/). They `ffmpeg-python` github page says that is only wrapper.

Is it preinstaled on azure function or I need to install it or change same permissions?

Somebody t

[2020-09-25 20:22] davidmrdavid commented on #203
Hi @stefaner1,

Ah, I see what you mean now. In that case, `ffmpeg` is **not** built-in to Azure Durable Functions for Python. However, I do believe it should be possible for you to use it regardless, just with a few extra steps.

How much of the linked StackOverflow post are you able to follow? It would be good for us to know what you've tried :) .

Also, looping @anthonychu who I suspect may be

[2020-09-25 21:28] anthonychu commented on #203
@stefaner1 You're correct that `ffmpeg-python` is only a wrapper and ffmpeg must be installed in the environment. However, you don't have access to install OS level dependencies on the Azure Functions Linux consumption plan. The recommended solution is to run a custom container image on the Linux premium plan. You can add ffmpeg to the dockerfile along with any other dependencies that you need.

I

[2020-09-28 16:49] JosXa commented on #96
Nice work, I am used to having durable entities available in C# by now and I'm just adding my voice here without a real use case other than "I really want to play around and see what I can do with them in Python🚀"!  Glad to hear it's coming soon!

[2020-09-28 18:39] stefaner1 commented on #203
First I run this cmd:
[code]

Then I added this to python:
[code]

I am getting this error: `Permission denied: '/tmp/ffmpeg/'`

The strange thing is that it works with mp3, but not with m4a.

[2020-09-29 00:45] davidmrdavid commented on #203
Hmmm, I suspect this is because you're trying to access `/tmp/ffmpeg/` . I'm not sure Azure allows you to access arbitrary directories like that. I would suppose this is much more likely to work if you change your `to_path` to be a sub-directory of your current working directory, right @anthonychu ?

[2020-09-29 01:08] anthonychu commented on #203
`/tmp` should be fine on Linux consumption. I've written data there (and binary executables too) and it works.

@stefaner1 Can you narrow down which line is causing that error? Weird that mp3 works but m4a doesn't. Just a guess but what happens if you don't pass `old_format` to `from_file`?

Also try running the raw ffmpeg command instead of using the wrapper. (are you using [pydub](https://github

[2020-09-29 16:57] davidmrdavid commented on #194
Hi @janpiskur ,

Just wanted to check-in again. We're still investigating this issue. Two quick follow-ups:
(1) Did you manage to get around this error?
(2) When you were getting this error, where you using the `WEBSITE_RUN_FROM_PACKAGE` setting?

[2020-09-30 07:27] janpiskur commented on #194
Hi @davidmrdavid ,

Thanks for investigating this issue.

(1) No.
(2) I am not quite sure what this setting does and I haven't actively pursued it, so my answer would most probably be no.

[2020-10-06 17:56] OD1995 opened #205 "SyntaxError when starting new orchestration function with HTTP trigger"
I am getting a SyntaxError on line 22 for the below code, but I have no idea why or how. I think I must be missing something really basic but I can't see it. I have been using lines 22-24 on an event grid trigger, which works fine, but it isn't working on this HTTP trigger. What's going wrong?

[code]

## Error:
`Result: Failure Exception: SyntaxError: invalid syntax (__init__.py, line 22)`
<detai

[2020-10-06 20:38] Jordan-Mesches commented on #62
is there any available documentation on its usage?

[2020-10-07 00:44] davidmrdavid commented on #203
@stefaner1 , any updates on this? Otherwise, I'll have to close this in a few days. Thanks!

[2020-10-07 02:17] davidmrdavid commented on #205
Hi @OD1995,

Thanks for reaching out! Hmm, that stack trace is not the most informative. When I ran your code, I got the following trace:

[code]

Which essentially says that you're using `await` in a non-async method. So instead of having `def main` you need to have `async def main`. Then your code will succeed :)

Let me know if this answers your question!

⚡ ⚡

[2020-10-07 02:22] davidmrdavid commented on #62
Hi @Jordan-Mesches,

Not yet, since we're in preview, but we do provide IntelliSense with detailed explanations on how to use each available API. If you are using VSCode, hovering over the suborchestrator methods (`call_suborchestrator` and `call_suborchestrator_with_retry`) should show you those. If you're having issues with a particular example, I can definitely help you get started :)

We do ha

[2020-10-07 10:35] OD1995 commented on #205
@davidmrdavid that looks to have solved it, thanks!

[2020-10-07 13:57] #205 closed

[2020-10-08 11:19] vstrien opened #207 "Activity traces cannot be linked to an Orchestrator"
I have an Azure Durable Functions app using Python.
It's a very simple model, where an orchestrator just schedules one activity.

There is some logging going on inside my activity functions, but I'm currently not able to join them to any orchestrator who could have called it.

The tracking data for a single instance [can be found using a relatively simple Kusto query](https://docs.microsoft.com/en

[2020-10-10 09:08] kemurayama opened #208 "call_http failed with "Object reference not set to an instance of an object.""
Hi,

I have a problem about `call_http` function with **Managed Identity**.

When I used `context.call_http()` with Managed Identity for Azure Resource Manager API ,
requests failed with error **Object reference not set to an instance of an object.**

If I don't use Managed Identity, I can call endpoints successfully. Example url is like `https://github.com`

Runtime Version: 3.0.14492.0
Python: 3

[2020-10-12 18:31] cgillum commented on #208
Tagging @bachuv since this is related to `call_http` and managed identities. The error message appears to be coming from the extension code and not the Python SDK.

[2020-10-15 12:08] janpiskur commented on #194
Hi @davidmrdavid ,

Just wanted to hear if there is any news or status update?

Best regards,
Jan

[2020-10-15 16:16] davidmrdavid commented on #194
Hi @janpiskur ,

I'm sorry this has taken a bit. I've been following-up internally and we _may_ have identified other customers with the same problem. I can't share all the details right now, but now I'm hoping that the fact that others are seeing this will speed-up the investigation. Unfortunately this seems to be a problem at the platform-level so it's a bit outside my domain. Regardless, I'll g

[2020-10-15 23:10] ijoosong commented on #151
hey @davidmrdavid or @maximrouiller has there been any updates to this issue?

[2020-10-16 14:13] MaximRouiller commented on #151
@ijoosong

I'll let @davidmrdavid answer as I am not on the engineering/PM team for Azure Functions. I also haven't seen any private build that fixes that issue.

[2020-10-16 20:44] bachuv commented on #208
Hi @kemurayama, I looked into the issue and it seems like there's a `TokenSource` JSON bug in the durable-python code.

@davidmrdavid and I spoke offline about the fix. David, can you add a `kind` field to the TokenSource [to_json method](https://github.com/Azure/azure-functions-durable-python/blob/92fbd6ff3f5790f2973495786f80b6f5f9011b36/azure/durable_functions/models/TokenSource.py#L52) where th

[2020-10-16 21:29] davidmrdavid commented on #151
Hi @ijoosong,

Not yet as we've prioritized some platform-level work that is currently blocking our release towards GA. This change, while important, is not as pressing but I will get to it in the near future. I've tagged it as P2 to note that it is not high-priority at the moment :)

[2020-10-16 21:30] davidmrdavid commented on #208
Thank you for your investigation @bachuv! This is a good catch. I can make this change early next week and release a new version with the fix by the end of the week.

[2020-10-16 21:53] davidmrdavid commented on #194
Hi @janpiskur ,

I've learned a bit more about this issue and it appears that a few of our linux customers have been hitting a filesystem mounting problem, one that's preventing your application from finding this certificate even though it is in the expected location.

We're currently working on a patch but, in the meantime, we appear to have a mitigation we can try. Before deploying to azure, is

[2020-10-17 02:33] kemurayama commented on #208
@cgillum , @bachuv and @davidmrdavid

Thanks for quick response and fix !!

[2020-10-17 17:04] aminekaabachi commented on #96
Any news or ways we can contribute to make this possible?

[2020-10-17 17:32] davidmrdavid commented on #96
@aminekaabachi The Durable Entities PR already exists and has been ready for some time now here: https://github.com/Azure/azure-functions-durable-python/pull/184

We're just waiting for an azure functions python worker release to take place for that to get merged and shipped asap. That worker contains some lower-level changes necessary for the Entities PR to actually run. Unfortunately, for stabil

[2020-10-20 13:19] janpiskur commented on #194
Hi @davidmrdavid ,

I've tried what you suggested. Now I get the following error:

[code]

[2020-10-20 21:33] davidmrdavid commented on #208
@kemurayama ,

we _just_ made a new Durable Functions Python release with the fix for this problem. Do you mind downoading `v1.0.0b10` and letting us know if the error persists? Thanks!

Link: https://pypi.org/project/azure-functions-durable/1.0.0b10/

⚡  ⚡

[2020-10-21 17:18] davidmrdavid commented on #194
Hmm this appears like a python-worker error.
@Hazhzeng , @vrdmr : Just FYI that this is the thread I'm following. The suggested mitigation of providing a specific path to the `cacert.pem` does not appear to work in this case. Folks, does the trace in the comment above sound familiar to y'all? This user has been stuck without being able to run orchestrations for weeks now.

In the meantime @janpisk

[2020-10-23 18:18] davidmrdavid opened #214 "Change namespace extension to use pkg-utils for better auto-gen docs"
Our namespace extension strategy across Azure Functions offerings in Python is unconventional, leading to difficulties in generating documentation from docstrings. We need to update our approach to use pkg-utils, which is the default approach, to avoid the need for patching in the future

[2020-10-23 21:10] davidmrdavid commented on #208
Hi @kemurayama,

Since it's been three days, I'll close this issue under the assumption that it was resolved with the latest release. Please let us know if it continues, thanks!

:zap: :zap:

[2020-10-23 21:10] #208 closed

[2020-10-23 21:10] #203 closed

[2020-10-23 22:32] stefanushinardi commented on #151
as we discussed offline, can you prioritize this for the next release? @davidmrdavid

[2020-10-24 13:44] kemurayama commented on #208
Hi @davidmrdavid ,

Thanks for fixing. I succeeded to call above endpoint with new version `1.0.0b10`

However, I needed to change `token_source` parameter from `https://management.azure.com/.default` to `https://management.core.windows.net/`.  Maybe Function host ?

Since [the document](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-features?tabs=javascript#

[2020-10-24 14:02] kemurayama commented on #208
Hi @davidmrdavid,

Thanks for quick fixing. I called successfully with Managed Identity.

However, I needed to change `token_source` parameter from `https://management.core.windows.net/.default` to `https://management.core.windows.net/`.  Is it expected behavior ?

Since [the document](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-features?tabs=javascript#ma

[2020-10-26 11:07] Faizan-E-Mustafa opened #215 "Returning bytes output from orchestration function."
I am trying to return bytes(word file) as Http response from the orchestration function. But it is not able to return Http Response containing bytes (but it works with utf-8)  . In case of bytes it gives error that `func.HttpResponse is not JSON Serializable`.

So instead i am returning utf-8 from orchestration function and using `wait_for_completion_or_create_check_status_response()` to keep chec

[2020-10-26 16:19] bachuv commented on #208
Hi @kemurayama, I looked at the error message you received and it looks like you are using an older version of `Microsoft.Azure.WebJobs.Extensions.DurableTask` (before 2.3.0) so this is expected behavior. The change from `https://management.core.windows.net/` to `https://management.core.windows.net/.default` came in version 2.3.0 after an update with the authentication library.

[2020-10-26 17:06] davidmrdavid commented on #208
Hi @kemurayama!

To further expand on @bachuv's comment, the JavaScript and Python Durable SDKs use "extension bundles" to automatically install .NET dependencies in your system when using libraries like Durable Functions. Due to the extension bundles release schedule, they can sometimes be a bit behind from the proper _latest_ release of those dependencies.

To find out the _latest_ release of th

[2020-10-26 17:38] davidmrdavid commented on #215
Hi @Faizan-E-Mustafa!

Thanks for reaching out. As per my understanding, and speaking in broad terms, we don't necessarily encourage byte streams to be the output of orchestrations. That being said, we can certainly find a workaround and, if the scenario is appropriate, give it first-party support in an upcoming release. That being said, I don't think I have enough context about your use-case, so

[2020-10-27 01:36] davidmrdavid commented on #194
@janpiskur , another update: we believe this issue may be affecting VNET-enabled applications. Does your app have VNET enabled?

[2020-10-27 08:05] Faizan-E-Mustafa commented on #215
Hey @davidmrdavid !
Thanks for your response.
1) I have attached a sample durable function to showcase the above mentioned behavior. You can make a post request using `sample.pdf` included in the folder using
```http://localhost:7071/api/orchestrators/DurableFunctionsOrchestrator1```.

I am not sure if i should do the conversions between bytes and utf-8 like i am doing in the sample code. Please l

[2020-10-27 09:33] janpiskur commented on #194
@davidmrdavid With regards to VNET: Not that I am aware of.

[2020-10-27 10:23] kemurayama commented on #208
Hi @bachuv and @davidmrdavid ,

I tried with the latest version of `Microsoft.Azure.WebJobs.Extensions.DurableTask 2.3.1` then found my `call_http` function worked correctly with `https://management.core.windows.net/.default`.

I will use `extensions.csproj` for my future debug ! Thank you ⚡

[2020-10-27 19:03] davidmrdavid commented on #215
Hi @Faizan-E-Mustafa,

I just took a look at your code and I think the reason for this exception is the following line:

[code]
The reason why this is failing is that `wait_for_completion_or_create_check_status_response` is an "awaitable" method, meaning that it needs to be preceded by an `await` command before returning. So, to get rid of that error, you could write:

[code]

Could you give that

[2020-10-27 20:17] davidmrdavid commented on #194
@janpiskur ,

Thanks for letting me know. I was trying to verify that internally but I couldn't access the latest dashboards for you application: bi-func-rps-garage-dev01. Did you delete the app by any chance? If not, could you try triggering this error again, without the cacert.pem fix, just so we get a new set of refreshed logs? It would also help us if you could provide the timerange for that n

[2020-10-28 09:46] Faizan-E-Mustafa commented on #215
Hi @davidmrdavid !

I tried it out . if i use await, the client function runs once and returns the same standard response as it would with `create_check_status_response()` and then we can check `statusQueryGetUri` to get output once available. But the output will be same as whatever the output of orchestration function is(in our case utf-8 but bytes are desired).

Suppose the orchestration functio

[2020-10-28 17:37] davidmrdavid commented on #215
I think I see what you mean now, @Faizan-E-Mustafa. In general, I believe one of the limitations of our system is that outputs need to be JSON serializable, and so I'm not sure if returning bytes / a pdf proper is the recommended pattern.

That being said, I could imagine a solution where you have an activity function at the end of your orchestration that uploads the pdf to some external storage p

[2020-10-28 18:15] davidmrdavid commented on #215
I just heard back from the rest of the Durable Functions team! As per their thoughts, I can confidently say that we generally do not encourage folks to return files directly from an orchestration, as that could lead to large amounts of data getting sent via azure queues and tables, which could mess up your app performance as those constructs are not designed with file-data storage in mind.

We wou

[2020-10-29 06:45] anthonychu commented on #215
@Faizan-E-Mustafa It sounds like you expect the orchestrator to run for several minutes. As you've discovered, HTTP functions have a timeout of 230 seconds. This timeout is not configurable, so I don't think what you are trying to do will work if you expect your client to call an HTTP function that runs for a long time and wait for the response.

[2020-10-29 10:01] Faizan-E-Mustafa commented on #215
Now i can see the reason for allowing JSON serializable outputs only. @davidmrdavid The solution you proposed will work for my use case. Thanks for taking your time to investigate this.

@anthonychu yes , i want orchestration to run for longer time. I will try to implement the solution David has suggested.

Thanks for your time. i really appreciate it. 😃

[2020-10-29 16:30] #215 closed

[2020-11-03 17:50] davidmrdavid commented on #194
Hi @janpiskur , just a friendly ping on my message above and it's questions. We're still actively investigating this!

[2020-11-03 22:01] davidmrdavid commented on #151
Hi folks! I'm actively working on this now.

I reviewed this feature's challenges again today and, like I mentioned before, this feature will depend on both a Python Durable SDK change and a Python worker change. That means that while it may technically be an easy change, it might take a bit to become available.

**A few technical bits a wanted to share:**
As we know, the python worker can current

[2020-11-04 22:16] davidmrdavid opened #217 "Introduce replay-safe newGuid API"
As in title, needed for feature parity with JS

[2020-11-05 00:42] davidmrdavid commented on #151
Just check-pointing my progress and thoughts for today. This feature is more challenging than it appears because namedtuples are not easily differentiated from any other class, meaning that there's no generic `isisntance(x, namedtuple)`-style check we can do to trigger some custom serialization logic.

The easiest solution here seems to be taking a dependency on `simplejson` which is just a more u

[2020-11-05 04:29] absognety commented on #169
thank you!! this worked.

[2020-11-06 14:23] janpiskur commented on #194
Hi @davidmrdavid

Sorry, I haven't replied. I am quite busy with other project right now.

Yes, I deleted the project because it was not really beeing used and it was just costing money.

I have created a new project now (bi-func-rps-garage.azurewebsites.net) by starting from scratch, but now nothing seems to work.
For instance, I tried to follow the guide below with a simple hello world example (

[2020-11-10 14:38] marcd123 opened #218 "Function App Not Scaling as Expected"
## Question

We're using Python Durable functions in an Elastic Premium function app plan.

Even after dropping our **maxConcurrentActivityFunctions** setting down to 1, our function app never scales to more than 1 or 2 VMs.

I've seen older posts around the internet saying that Python Durable functions are in preview, and only support scaling to up to 2 VMs. These posts are old though and I'm hav

[2020-11-11 17:27] davidmrdavid commented on #218
Hi @marcd123 !

I'll be closing this ticket since we're already discussing this issue in here: https://github.com/Azure/azure-functions-durable-extension/issues/1556#issuecomment-725552462

Please let me know if these two tickets were meant to be different!

[2020-11-11 17:27] #218 closed

[2020-11-13 15:43] kemurayama opened #220 "context.create_timer() fails when microseconds = 0"
Hi,

When I use `context.create_timer()` and the datetime object  `microseconds = 0`, it fails with the error below.
If I use `context.current_utc_time`, I can use timer successfully.

- environment: Python 3.8.5
- library: azure-functions-durable==1.0.0b10
- OS: Windows 10

[code]

[code]
A sample to reproduce.

[code]

[`find_task_timer_created()`](https://github.com/Azure/azure-functions-durabl

[2020-11-13 18:43] davidmrdavid opened #222 "Durable Entities ToDos"
Tracking ticket to investigate leftover ToDos in the Durable Entities PR here: https://github.com/Azure/azure-functions-durable-python/pull/184

- [ ] Is `isNewlyConstructed` actually used?

- [ ] What are the semantics of `destructOnExit`?

[2020-11-16 11:11] pblocz opened #223 "Accesing Serialized Custom Classes properties in bindings"
Hi,

When you have an activity that has a JSON payload, you can reference its properties from other bindings ([docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#json-payloads))

For example, I was trying to have a binding like this:
[code]

I was using serializable custom classes but found I was not able to reference the properties of the serializ

[2020-11-16 19:15] davidmrdavid commented on #223
Hi @pblocz ,

Thanks for reaching out! This is an intriguing request, so I want to make sure I fully understand it. Would you mind sharing a simplified but **runnable** example of the code you're trying to run and another with the "hack" you're currently using in the meantime? I'm trying to understand how **Durable Functions** would make use of this functionality. Thanks!
⚡ ⚡

[2020-11-18 17:02] carlvitzthum opened #224 "call_activity_with_retry does not work with serializable payloads"
Hello! We at Nasuni are trying to use `DurableContext.call_activity_with_retry` in an orchestrator that passes JSON-serializable objects as payloads. We are hitting the following exception when switching from `call_activity` (which works perfectly) to `call_activity_with_retry`. Our serializable payload class has the required `to_json` and `from_json` static methods.
[code]

I believe the problem

[2020-11-18 17:19] davidmrdavid commented on #224
Ah, silly me, I don't know how I missed that one. You're right, I think you've identified the problem correctly. I can make that fix quickly and deploy it for your before noon my time :) .

If you beat me to it and are compelled to do so, feel free to make that PR and I'll merge it but there's no need to otherwise.
Expect a patched release today! I'll ping you

⚡ ⚡

[2020-11-18 17:38] carlvitzthum commented on #224
I'm happy to contribute! I will open a PR shortly.

[2020-11-18 19:22] carlvitzthum commented on #224
Sorry for the delay! Made a small PR for the update and added a test. Lmk if you'd like to see any changes.

[2020-11-18 19:39] davidmrdavid commented on #224
This is great! I'll make sure this gets release asap

[2020-11-19 00:42] davidmrdavid commented on #224
Hi @carlvitzthum ! Thank you so much for your contribution again. I _just_ released a version of `azure-functions-durable` with your patch in it. I also credit your username in the release notes 👍

**Release notes:** https://github.com/Azure/azure-functions-durable-python/releases/tag/v1.0.0b11
**PyPi:** https://pypi.org/project/azure-functions-durable/1.0.0b11/

I'll close this issue in the meant

[2020-11-19 00:42] #224 closed

[2020-11-19 10:01] pblocz commented on #223
Hi @davidmrdavid,

I have updated the serializable_arguments sample to show the use case in my [fork](https://github.com/pblocz/azure-functions-durable-python/tree/5c623eb02cb5a1f777a8f87c59f3b2071769fe79/samples/serialize_arguments). I have changed the SerializableClass a bit to add a path. The `DurableOrchestrationWithHack` and `DurableActivityWithHack` work as I expect with the output binding.

[2020-11-19 13:38] carlvitzthum commented on #224
Thanks a ton for the quick turnaround! Glad I got to contribute :)

[2020-11-19 18:24] davidmrdavid commented on #223
_Oooh!_ I think I see what you mean now. Correct me if I'm wrong, but what you're suggesting is that:
"Since **custom objects** are ultimately shared via JSON between activities and orchestrators, shouldn't we also be able to access the JSON fields of our classes if we wanted to?"

I'll proceed assuming I got that right :) . So, I'm torn on whether this is something we would want to support, in pa

[2020-11-19 22:44] davidmrdavid commented on #194
Hi @janpiskur,

Thank you for your repro. Using it, we did find a bug in Azure App Service where a race-condition was causing your app to fail to mount. The fix has been merged and should be going out in a few weeks.

I did find _another_ exception in your app that I haven't been able to fully explain. It reads "`NameError: name 'pathlib' is not defined`". The platform engineers want to know if yo

[2020-11-20 19:21] davidmrdavid opened #227 "Provide batch position and size information inside entity operations"
This is a follow-up to: Azure/azure-functions-durable-extension#1511, Azure/azure-functions-durable-extension#1456

Now that the durable-extension expose the batch position and batch size inside entity operations, we should expose them in the Python SDK as well.

[2020-11-26 09:53] kemurayama commented on #220
Hi,
If we use `dateutil.parser.parse()`, we can avoid the problem even though the `microseconds=0` .
What do you think ?

[code]

[2020-12-01 06:34] davidmrdavid commented on #220
Hi @kemurayama,

Thanks for reaching out, and for proposing a solution. Timers have given us issues in the past due to unexpected serialization problems. I like your solution and would love to incorporate it. Do you want to submit a PR? Otherwise, I can look to incorporate it myself later this week. Let me know!

[2020-12-01 08:38] kemurayama commented on #220
Hi @davidmrdavid,

Thank you. I will submit a PR !

[2020-12-02 10:54] Utahjezz opened #229 "Handling custom exception type from activities"
I would like to understand if it is possible to handle custom exception type (from activities) inside the orchestrator function.

E.g.:

Activity
[code]
Orchestrator:
[code]

The actual behaviour is that in the orchestrator function I only get the generic Exception type and I cannot differentiate the handle logic based on custom_data.

[2020-12-02 17:10] davidmrdavid commented on #229
Hi @Utahjezz ,

Thanks for reaching out. My understanding too is that we're only supporting a limited set of `Exception` types. So yes, we're not supporting this use case _yet_. However, adding support for custom exceptions should be possible with relative ease so we should be working on it soon 😄 .

We're currently preparing the final bits for our GA release. Afterwards, I'll be doing a pass over

[2020-12-03 00:56] kemurayama commented on #220
@davidmrdavid
Thanks for approving ! I'm glad to contribute.

[2020-12-03 00:56] #220 closed

[2020-12-03 17:30] davidmrdavid commented on #151
Status update: this feature is working locally and only needs some testing at this point. The feature requires some non-trivial changes to the serialization logic in the python worker, so we need to validate that it doesn't break any existing scenarios. However, with the Python GA release in the near horizon, we'll be bringing this work up over the finish line after that deadline.

Summary: We've

[2020-12-03 18:56] davidmrdavid opened #231 "Improve static safety of repo by using generic types and custom constructors"
As per our discussion here: https://github.com/Azure/azure-functions-durable-python/pull/184#pullrequestreview-544266683

Data such as the Entity batch array would be safer to use if registered as their own datatype. This way, we can prevent invalid operations across the codebase.

We should do a scan of the codebase and improve all the cases where custom types could be used to prevent invalid ope

[2020-12-03 19:01] davidmrdavid opened #232 "Improve naming conventions in Entity implementation"
As discussed here: https://github.com/Azure/azure-functions-durable-python/pull/184

Many parts of our Entity implementation have overloaded terms. For instance, "entity state" is a class name and a variable. This is also true for our JS implementation. We should go over all Entity implementation components and improve their organization and naming.

[2020-12-03 19:20] davidmrdavid opened #233 "Ensure Internal entity exceptions are correctly handled"
As discussed here: https://github.com/Azure/azure-functions-durable-python/pull/184

There's an outstanding discussion about what to do when an entity errors out due to an internal exception. For example: what if an operation is missing a name.

One possibility is to propagate the error back to the orchestrator, same as if it were a user-code-level exception. Another approach is to error out compl

[2020-12-03 20:57] sebastianburckhardt commented on #222
As a general rule, the semantics of batched operations must always the same as if the operations were not batched.

Thus, destruct on exit deletes the state after the operation that specifies it. If the next operation after that accesses the state again, it would be recreated, just as if that operation were the first operation on a new entity.

[2020-12-03 21:02] davidmrdavid commented on #222
@sebastianburckhardt: Thanks! Makes sense, and I think that answers my question about `destructOnExit`. What about `isNewlyConstructed`, is that a flag that should be used at all for implementing an Entity's behavior?

[2020-12-03 21:07] sebastianburckhardt commented on #222
The flag is there so that an operation can detect whether it is the first operation ever to execute on that state, in case there is some special initialization required. For example, if the initial entity state should be read from an external source.

[2020-12-07 22:40] davidmrdavid commented on #194
Hi @janpiskur ,

Just checking-in again. As I mentioned in my comment above, we believe you were hitting a bug in Azure App Service that has been merged and should already be available in _some_ regions. The deployment will finalize in a few more days.

Since I know you left us a live app to help debug this, I wanted to give you to option to get a refund for those executions. Please consider openi

[2020-12-07 22:40] #194 closed

[2020-12-17 04:02] timtylin opened #241 "Sometimes `context.current_utc_datetime` intermittently evaluates to `None`"
*To be honest, I'm not too sure how to replicate this reliably, so at this stage I'm more looking more for some help on how to nail this down.*

I'm currently facing an issue where deployed durable functions (I don't really see this locally) would sometimes return `None` when trying to evaluate `context.current_utc_datetime`. I have many places in the orchestrator where I'm recording timestamps to

[2020-12-17 05:30] davidmrdavid commented on #241
Hi @timtylin, thank you for reaching out! This seems like a serious problem so I'll be prioritizing this.
Looking at the codebase, this right here is the place where we could possibly set `current_utc_datetime` to `None`: https://github.com/Azure/azure-functions-durable-python/blob/6c25a787af0dbdad287e91ce612dff1c2c8fae15/azure/durable_functions/orchestrator.py#L144-L155

That block of logic state

[2020-12-17 16:30] timtylin commented on #241
Thanks very much for looking into this @davidmrdavid, really appreciate the prompt reply.

What you said prompted me to go digging into the table storage holding the execution history of these functions, and I think I'm seeing almost exactly what you're saying. Here's the history records for a relatively "normal" execution of the orchestrator **(Run A)**:

<img width="899" alt="Screenshot 2020-12-

[2020-12-17 22:21] davidmrdavid commented on #241
I've created a hotfix in the PR shown above ^. You might still experience _some_ errors given the long sitename, but this should take care of the one you're currently seeing. I'll look to releasing a new version of the SDK today as well.

[2020-12-18 00:29] timtylin commented on #241
Thanks very much for this quick turnaround @davidmrdavid.

Is this documented anywhere? When naming this site I was going by the [Naming rules and restrictions for Azure resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftweb) document:

<img width="964" alt="Screenshot 2020-12-18 at 12 16 18 am" src="https://user-images.githubuserconten

[2020-12-18 00:39] davidmrdavid commented on #241
You got it! 😄

As for the 32-character limit, I just started an internal thread asking where this is documented. I also just have a reference to the issue you linked. I'm sure there must be a good reason why this the limit isn't automatically enforced, but at least I would like to see a big warning about it somewhere. I'll let you know when/if I hear back.

With respect to terminating orchestrator

[2020-12-18 14:26] timtylin commented on #241
Alright, I have a quick update after trying with new function site names (and a new TaskHub for good measure) but still using the old service plan:

- The loop-forever problem seems to be gone (but I've also added a timeout that throws an exception). Now I'd say half the jobs get a valid timestamp on the first try, but the other half only gets one after a couple seconds of trying, so I'm still see

[2020-12-18 18:03] ConnorMcMahon commented on #241
@timtylin

One thing to consider trying is to decrease `maxConcurrentActivityFunctions` to a smaller value (like 1-3). On C#, this is a fairly reasonable value, but Python as a language does not handle concurrency quite as well. That means that we can fetch up to 10 activity queue messages per worker, but on Python, these queue messages are likely being processed one at a time. This means the rema

[2020-12-18 18:17] timtylin commented on #241
Hi @ConnorMcMahon

That's actually quite a good point! It also makes me wonder if the Activity functions can be declared as `async`. A lot of the time spent in the Activity functions are essentially just coordinating Azure resources via the Python SDK and waiting for the poller to finish before descending further down in an "implicit" the dependency list. I've really wanted to make these async so

[2020-12-18 18:57] ConnorMcMahon commented on #241
I believe there is nothing stopping activity functions from being async, but @davidmrdavid would know better. In general, you would still need to increase `FUNCTIONS_WORKER_PROCESS_COUNT` to actually concurrently execute these asynchronous functions I believe.

I am trying to figure out how much that would help on a consumption plan where all of the workers have one core by talking with the intern

[2020-12-18 22:45] davidmrdavid opened #247 "Improve bundle-extension range detection"
As in title. We currently give a warning when the bundles extension version is in the default range of `[1.x, 2.0)` but we should also account for cases when the customer is pinned to a specific V1 version.

[2020-12-19 00:18] davidmrdavid commented on #241
Hi @timtylin, you can find the ✨ new release ✨, and its release notes, here:
* https://pypi.org/project/azure-functions-durable/1.0.0b12/
* https://github.com/Azure/azure-functions-durable-python/releases/tag/v1.0.0b12

As for `async` activity functions, my understanding is that we should support them but, now that I think about it, we have not thoroughly tested for that yet. I'll add it as a ToDo

[2020-12-19 00:19] davidmrdavid opened #249 "Include smoke tests with `async` activity functions"
First discussed here: https://github.com/Azure/azure-functions-durable-python/issues/241
We should validate if `async` activity functions are correctly supported in the SDK.

[2020-12-19 00:34] cgillum commented on #249
It would be good to also validate the behavior of async activity functions to see if they allow running more activity functions concurrently within a single app instance. For example, by default you can only run one Python function per language worker. However, if the functions are `async`, does that allow us to run many concurrently, and up to the configured `maxConcurrentActivityFunctions` limit

[2020-12-21 18:27] davidmrdavid commented on #146
Closing since it's been a few months. Please let me know if the issue continues!

[2020-12-21 18:27] #146 closed

[2020-12-21 18:28] davidmrdavid commented on #223
Closing as we won't be supporting this at the moment.

[2020-12-21 18:28] #223 closed

[2020-12-21 19:09] davidmrdavid commented on #96
Released!

[2020-12-21 19:09] #96 closed

[2020-12-22 00:01] asipras opened #250 "Azure functions service bus trigger fires but function is not executed."
I have Azure function (python) hosted as container on AKS (I am using autoscaling with KEDA) the function listens to Request queue and executes the function and returns the response. I am using autocomplete feature of service bus trigger so that the message gets completed when the function is executed successfully without any exceptions.

Most of the time the trigger fires correctly and the functi

[2020-12-22 00:35] davidmrdavid opened #251 "Explore Jupyter Notebook integration"
For Data Science, computational notebooks are the main development environment. Durable Functions should have a story around this and maybe allow users to monitor their orchestrations via a nifty API that they can easily call on a notebook.

There might also be other interactions we would want customers to have with Durable when working on a notebook. I think this is really exciting and opens the

[2020-12-22 01:01] davidmrdavid opened #252 "Testing MS Teams webhook"
Please ignore, as in title.

[2020-12-22 01:01] #252 closed

[2020-12-22 16:20] asipras commented on #250
@davidmrdavid. I am not using Azure Durable Functions for python. The python function is normal Azure function which gets triggered when another Durable Function (C# .net) queues request. You can see from the logs that,

Azure Durable function C#, queues the message correctly at Step 1 in the figure. You can see from the log that after queueing the response the Durable Function C# is awaited.

The

[2020-12-22 16:37] davidmrdavid commented on #250
@asipras, thank you for clarifying. In that case I must have received the wrong information. I'll contact the right folks and re-open an internal ticket about a related issue that I believe was yours as well. Sorry for the confusion.

[2020-12-22 18:09] davidmrdavid commented on #241
Hi @timtylin, just wondering if you managed to try the latest version and if that appears to mitigate the issue? :)

[2020-12-22 18:41] timtylin commented on #241
Hi @davidmrdavid

I've been stress-testing over the weekend and so far I haven't seen it return None , so I'm happy to say that this no longer happens. I do wonder if this has uncovered some other underlying issue, as I'm still seeing some unexplained long gaps (>100s) between successive timestamps and the only thing in between is an Activity that does a single CosmosDB write. At first I thought i

[2020-12-22 18:46] ConnorMcMahon commented on #241
@timtylin,

Our whole team is fairly active on our GitHub repos, so your feedback about @davidmrdavid's work on this issue is noted 🥇.

It sounds like we should close this issue, but I would recommend opening up a separate issue for those weird gaps you are seeing, and we can take a look at those. We _should_ have our internal telemetry all wired up now, so if you give us a timestamp and ideally t

[2020-12-22 18:46] #241 closed

[2020-12-22 18:49] ConnorMcMahon commented on #207
@davidmrdavid, this seems like something solved by the distributed tracing work included in 2.4.0. How much of that works out of the box with out-of-proc languages like Python and Node?

[2020-12-22 20:10] davidmrdavid commented on #241
Thanks for the kind words! And +1 to opening up a new issue about the delays, we've seen similar issues like that before and so I'd be interested in seeing if this is related. _Thanks!_

[2020-12-22 20:18] davidmrdavid commented on #207
@ConnorMcMahon: Indeed, this _should_ be solved by the distributed tracing work but I don't think it works out of the box with out-of-proc yet.

I'm planning to pick up again on this work in a couple of weeks! So expect an update from me about the status of Dist. Tracing in out-of-proc 🎉 . I have some testing to do first.

[2020-12-23 19:29] mhoeger commented on #173
With some help from @davidmrdavid , we were able to find out the cause of this issue. Recently, Durable Templates for python became only available in bundles V2. This means that you will have to configure your host.json file to look for extensionBundle `"version": "[2.*, 3.0.0)"`, like this:
[code]

We need to update our own template feeds to default to V2 bundles to make this work by default.

No

[2021-01-05 11:17] ping13 opened #254 "Exception while locally starting a new instance of the orchestrator function (following the quickstart)"
## Description

Following the tutorial on setting up a durable function using Python. https://docs.microsoft.com/en-us/azure/azure-functions/durable/quickstart-python-vscode

At step 5, I call `http://localhost:7071/api/orchestrators/HelloOrchestrator`, and I get an exception (see below).

## Expected behavior

A response with the initial result from the HTTP function letting me know that the dura

[2021-01-05 18:18] davidmrdavid commented on #254
Hi @ping13,
Thanks for reaching out! This is really strange. I realize that you're following the quickstart but, just in case we missed a step, could you share a zipped reproducer (or a link to a repro) so I can take a look?

[2021-01-05 19:08] ping13 commented on #254
Hi @davidmrdavid, thank you for the quick response! Sure, attached you can find the zip-archive of my test folder. I hope this helps and let me know if you need more details.

[tmp-fun.zip](https://github.com/Azure/azure-functions-durable-python/files/5772089/tmp-fun.zip)

[2021-01-05 21:52] davidmrdavid commented on #254
Hi @ping13, I just unpacked the `.zip` and the reproducer is working for me without any changes. Do you have the Storage Emulator (https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator) installed and **running**?

[2021-01-06 06:43] ping13 commented on #254
I've used Azurite as recommended by https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator (note that the current version 3 doesn't support Table Storage yet, so I downgraded to version 2.7.1). It was installed and running, it created the necessary containes, queues and tables (I've checked it with Azure Storage Explorer).

I've installed the "Azure Storage Emulator" and indeed

[2021-01-06 07:30] davidmrdavid commented on #254
Glad to hear you got it working! So just to make sure I follow, did the "downgraded" Azurite `2.7.1` work for you as well or did it not? Just checking so I can share that with the Azurite devs :)

[2021-01-06 08:32] ping13 commented on #254
No, it didn't unfortunately didn't work, I got the exception in the original comment. I've updated the comment to reflect the version of the local emulator. Thanks for sharing with the Azurite devs.

[2021-01-07 11:45] amiTesser commented on #173
Facing the same issue. It was working fine last week, I don't think I updated anything inbetween now and the last time I was using durable functions and now I can't seem to find the templates under Azure functions: Create function option. Is there any more info I can provide to help clarify?

[2021-01-07 17:20] mhoeger commented on #173
@amiTesser - have you tried the mitigation steps above, to change host.json extension bundle version and re-open VS Code?

[2021-01-16 17:58] msarm opened #255 ""yield context.task_all" is executing tasks sequentially and not executing parallelly, why?"
Running on local with 4 CPU / 8 core and with  "maxConcurrentActivityFunctions": 1 or 10  &       "maxConcurrentOrchestratorFunctions": 1 or 10 but "yield context.task_all" is always executing tasks sequentially and not executing parallelly, why?  The same behaviour happens on Azure with App Service plan as well.

![image](https://user-images.githubusercontent.com/1042633/104845143-de732880-58a1-1

[2021-01-18 04:29] anthonychu commented on #255
By default, when running locally, we run a single Azure Functions host process and a single Python worker process. Keep your maxConcurrentActivities at 10 and [increase either your worker process count or thread count](https://docs.microsoft.com/en-us/azure/azure-functions/python-scale-performance-reference). The process count, in particular, should allow you to use more than one processor for run

[2021-01-19 12:51] msarm commented on #255
Yeah, it makes sense now. Thanks for the clarification.

[2021-01-19 12:51] #255 closed

[2021-01-22 00:14] gromag commented on #96
I'm using VSCode attached to a local container image (mcr.microsoft.com/azure-functions/python:3.0-python3.8-core-tools)  In there I have installed azure-functions-core-tools-3 (3.0.3233-1) and in the IDE I have the extension ms-azuretools.vscode-azurefunctions v1.1.0.
 When I try to create a new Durable Function it lists only Activity, Orchestrator and Starter type of functions.

I understand the

[2021-01-22 11:14] martijnlentink commented on #96
I think that the `counter_entity` sample will help you getting started with durable entities:
https://github.com/Azure/azure-functions-durable-python/tree/dev/samples/counter_entity

[2021-01-22 15:18] OD1995 commented on #173
@mhoeger did you find any other possible causes of the issue? Your solution worked for previously, but no longer does

[2021-01-22 17:48] davidmrdavid commented on #173
Hi @OD1995,
That's _really_ strange, the templates should be available for extension bundles V2. Can you describe step by step what you're doing to reproduce this?

[2021-01-22 17:53] davidmrdavid commented on #96
Thanks for the suggestion @martijnlentink!
Hi @gromag, if you update your extension bundles to be in the V2 range, as in here: https://github.com/Azure/azure-functions-durable-python/blob/dev/samples/fan_in_fan_out/host.json
then you _should_ be able to see the entity templates in VSCode, assuming you have the latest update of core-tools.

Also, we have documentation pages for entities on the way!

[2021-01-25 10:30] ping13 commented on #254
@davidmrdavid Just a quick follow up: Is there already a filed issue with Azurite? AFAICT without a working Azurite solution, there is no working Azure Storage Emulator on macOS/Linux for `azure-functions-durable-python`.

[2021-01-25 14:51] gromag commented on #96
Thank you @davidmrdavid, although I had the latest extension bundle and core-tools it did not show in the list until I changed the Azure Function template filter from "Verified" to "All", It is in the menu now! 😅

[2021-01-25 17:43] davidmrdavid commented on #96
Hi @gromag, glad to hear you were finally able to see them. Strange that they were not under "verified" though.
I'll ask around to see if others encounter this problem as well. If you encounter any more issues with entities, feel free to raise them in a new ticket and I'll address them **asap**!

[2021-01-25 17:54] davidmrdavid commented on #254
Hi @ping13, apparently the issue is that Azurite V3 (latest version) does not have the "Tables" API implemented yet, and that's been a pain-point for Azurite users for some time now. As per this issue (https://github.com/Azure/Azurite/issues/428) it would seem that the feature is currently being prioritized and we can track their progress here: https://github.com/Azure/Azurite/projects/2

I can't

[2021-01-25 19:53] ping13 commented on #254
Thank you @davidmrdavid, for the link, I understand that it's a major project. I've tried the older version and it didn't work for me (see the updated comment in the original post).
As I also have access to a Windows machine, I can get by with the current situation with the old version of the storage emulator. Thanks!

[2021-01-25 19:53] #254 closed

[2021-01-26 10:40] OD1995 commented on #173
Hi @davidmrdavid
I agree. My app details are identical to zhenming91's, in his post at the top of this thread, and I am getting the same template options when using _Azure Functions: Create Function...._, there are no durable function options. This is not the first durable function I have created on this machine. As mentioned, I have had this issue before, but changing the version, as suggested by

[2021-01-26 17:20] davidmrdavid commented on #173
Hmmm, I don't believe the VSCode version should affect this. I'm actually in the process of patching the templates system to re-add Python Durable templates to bundles version V1, because we have found their removal to be more trouble than it's worth. This might prompt your templates to re-download and fix this issue. The fix should take about a day or two to fully release and, once it's out, I'll

[2021-01-26 17:23] OD1995 commented on #173
@davidmrdavid awesome, thanks for the update!

[2021-01-26 20:41] tamathew opened #256 "Long running issue with Durable Python function"
I'm running Snowflake SQLs via ADF->Az function activity which calls a Python Durable Az function. When I tested with a long running SQL : "call system$wait(9, 'MINUTES)", it ran beyond 9 min.. and I aborted the job at 35th minute. The status of the statusQueryGetUri is below

Output -

[code]

The output log from Azure Monitor- DurableActivity however shows that there was an outcome of the SQL. B

[2021-01-26 21:18] davidmrdavid commented on #173
Hi @OD1995, I'm told the patch should be out now! Can you give it a try?

[2021-01-26 22:32] davidmrdavid commented on #256
Hi @tmathewlulu,

Thank you for reaching out! I do have a few clarifying questions and comments, so let me take a step back.

(1)
In your post, you refer to the following code as the Durable orchestrator code.

[code]

This is a common misconception, but this is not an orchestrator :) . This is an orchestrator **client**. In particular, it appears to be an HTTPTrigger'ed orchestrator client, which

[2021-01-26 23:49] tmathewlulu commented on #256
Thank you @davidmrdavid  for acknowledging the issue. PFA the code. I have NOT included the local settings.

**Timeframe issue observed**: 1/26/2021 - All day
**Function App name**: lllcddsedwfapp-py-v1
**Function name(s)**:ExecSnowSQLDurableActivity, ExecSnowSQLDurableOrchestrator, ExecSnowSQLStarter
**Azure region**: East US 2
**Azure storage account name**:  lllcddsedwraw1
**Orchestration insta

[2021-01-27 00:45] tmathewlulu commented on #256
<img width="1019" alt="Durable_Csharp_Output" src="https://user-images.githubusercontent.com/76488893/105925983-ee9fac00-5ff5-11eb-9505-59d8358aa0f9.png">
<img width="1010" alt="Durable_Python_Output" src="https://user-images.githubusercontent.com/76488893/105925989-f1020600-5ff5-11eb-8dda-c591f7597709.png">

[2021-01-27 09:11] OD1995 commented on #173
@davidmrdavid I'm sorry, what do I have to do to get the new patch?

[2021-01-27 17:58] FaCoffee1984 opened #257 ""ModuleNotFoundError: No module named 'azure.durable_functions" after deployment in Azure DevOps"

[2021-01-27 19:13] tmathewlulu commented on #256
@davidmrdavid  - What do you think about the issue ? Is it going to take time ? Any ETA ?

[2021-01-27 19:30] davidmrdavid commented on #256
Hi @tmathewlulu,
I'll be taking a preliminary look at this now :) , starting with the reproducer and a look at the logs. My ETA for an update is no later than 5pm PDT, certainly most likely earlier, though I can't guarantee we will have identified the issue by then.

I'm still a bit unsure about the behaviour I'm attempting to reproduce, so help me understand two things
(1) you're saying I can rep

[2021-01-27 20:04] tmathewlulu commented on #256
Here is the test scenario -
**Input** : Issue a sleep statement for 10min, You may also run a parallel copy of the job for sleep(25 min) to save testing time. Because this issue is intermittent.
**Expected result** : The statusQueryGetUri.runtimeStatus  should return "Completed" at the end of 10 minutes and hence poller will mark the process as done.
The issue is statusQueryGetUri.runtimeStatus is

[2021-01-27 20:07] tmathewlulu commented on #256
FYI - Only my starter HTTP is async function. Does it make a difference ?
Also I have NOT defined a FUNCTIONS_WORKER_PROCESS_COUNT variable.

[2021-01-28 00:44] davidmrdavid commented on #256
_Just a heads up that will provide an update just slightly past 5pm PDT, got pulled into urgent meeting_

[2021-01-28 00:48] tmathewlulu commented on #256
Perfectly fine. Thanks @davidmrdavid

[2021-01-28 00:58] tmathewlulu commented on #256
Also, I'm happy to change my design if there is any alternative option. My business requirement is to just make an API call which can take a long time to get a response. To be precise, I will have to execute a Snowflake SQL procedure which loads a table and takes 30 minutes to process. I want to orchestrate this flow in Azure Data Factory through Azure Function activity(ADF does not support runnin

[2021-01-28 01:54] davidmrdavid commented on #256
Hi @tmathewlulu,

Thanks for your patience, After looking at your latest execution logs, and after speaking with your microsoft-internal point of contact, it seems that after changing your activities to be `async`, your activity function is now during for the expected amount of time and now it's just your orchestrator that seems to be running for longer than expected. I'll need to sync up w/ the r

[2021-01-28 02:29] cgillum commented on #256
I took a quick look at the orchestration instance in question and according to our telemetry it completed successfully (time is UTC):

PreciseTimeStamp | RoleInstance | AppName | InstanceId | TaskName | FunctionName
-- | -- | -- | -- | -- | --
10:06:01 PM | pl0SmallDedicatedLinuxWebWorkerRole_IN_1778 | lllcddsedwfapp-py-v1 | 435e6be91fd54b4fb055e1003a0458e7 | FunctionScheduled | ExecSnowSQLDurable

[2021-01-28 03:50] tmathewlulu commented on #256
@cgillum Yes , my orchestration and ADF pipeline eventually finished. My testing involved calling same Durable function (lllcddsedwfapp-py-v1) concurrently from different client ADF pipelines. Most of them completed on time and very few seems to run longer might be... because of a lock in underlying client orchestrating code(per MS Support engineer ). The orchestrating client code is not "async".

[2021-01-28 04:28] anthonychu commented on #257
Can you please provide more information on your issue? Please share the relevant parts of your pipeline yaml if possible.

Ensure you are installing pip packages correctly in your pipeline. See example here:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-azure-devops?tabs=python#build-your-app

[2021-01-28 09:40] FaCoffee1984 commented on #257
Hi,

My pipeline was put together using the classic interface, hence I don't have a yaml file. Is there any way I can convert the existing pipeline into a yaml file? I saw this but I couldn't find it in my DevOps page:

[cid:image002.png@01D6F559.9AA7A1E0]
Source<https://www.codewrecks.com/post/azdo/pipeline/convert-to-yaml/>
Francesco Castellani
Data Scientist | Shared Information Services
D +44

[2021-01-28 09:52] FaCoffee1984 commented on #257
This should be the YAML file representing our release pipeline. Because it was not possible to convert this pipeline to YAML from Azure DevOps, I had to export my release pipeline as JSON and then convert it to YAML using https://www.json2yaml.com/.

[code]

[2021-01-29 01:10] cgillum commented on #256
Thanks, instance **36d0474fbaeb4498a73d4ac82f3a54b8** looks the same from my end as well. I did notice, however, that from our telemetry, it looks like **ExecSnowSQLDurableActivity** actually took about **26** minutes to complete (not 11) - not sure if that's expected or relevant. The orchestration then took another 18 minutes to transition into the Completed state.

I looked at the [DTFx logs](ht

[2021-01-29 01:27] tmathewlulu commented on #256
I suspect behavior 2 because I was running multiple instances of same Python Durable function job concurrently.

I have a different example to substantiate this theory.  Attached xlsx file has the details.

Night King was blocking Arya for about 36 min :)

[Arya_NightKing_AzureFuncIssue.xlsx](https://github.com/Azure/azure-functions-durable-python/files/5890976/Arya_NightKing_AzureFuncIssue.xlsx)

[2021-01-29 03:10] cgillum commented on #256
Try setting both maxConcurrentActivityFunctions and maxConcurrentOrchestratorFunctions in host.json to 5. That will help ensure you don’t run out of Python worker processes on any single node.

https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-perf-and-scale#concurrency-throttles

[2021-01-29 17:47] tmathewlulu commented on #256
@cgillum  I tried setting the limit as you said. PFB my host.json. But it did not work. Few of my pipelines even failed with 504 - bad gateway error.

I'm still seeing long running jobs.
Instance ID : a05fe03360aa4614bd5dc25c8d946e51. - This was supposed to complete in 1 min, but might got locked with some other parallel process which I was running. It took almost 48 min (I had initiated parallel

[2021-01-29 18:53] cgillum commented on #256
@tmathewlulu thanks for trying this out and setting up a new test. Here are the logs I found (which I expect you also have in your App Insights):

EventTimestamp | InstanceId | TaskName | FunctionName
-- | -- | -- | --
4:28:29 PM | a05fe03360aa4614bd5dc25c8d946e51 | FunctionScheduled | ExecSnowSQLDurableOrchestrator
4:28:29 PM | a05fe03360aa4614bd5dc25c8d946e51 | FunctionStarting | ExecSnowSQLDura

[2021-01-29 19:11] tmathewlulu commented on #256
@cgillum

_Are you sure that this instance of ExecSnowSQLDurableActivity was only supposed to take a minute to execute?_  - Yes. I have a database SQL command which waits for 1 min (call system$wait(1, 'MINUTES')).

PFB the activity log .

[Activity_log01292021_428pm.xlsx](https://github.com/Azure/azure-functions-durable-python/files/5895793/Activity_log01292021_428pm.xlsx)

[2021-01-29 19:41] tmathewlulu commented on #256
Below is the skeleton version of ExecSnowSQLDurableActivity

[code]

[2021-01-29 20:03] davidmrdavid commented on #257
Thanks @FaCoffee1984, I'll give this a look. Adding this as an investigation for our next sprint which starts this Monday :)

[2021-01-29 20:55] davidmrdavid commented on #256
Just as a sanity check, can we replace the call to `execute_snow_sql` in `main` with a `time.sleep(60)`?
If we can't replicate the error with it, then the issue might be caused by the connection to `snowflakeDB`.

[2021-01-29 22:41] davidmrdavid opened #258 "Remove type hints from __init__ file"
The type hints in our `__init__` file can potentially throw off our internal auto-gen documentation system. We should remove them to look like this `__init__` file in the python worker: https://github.com/Azure/azure-functions-python-library/blob/dev/azure/__init__.py

[2021-01-29 23:03] tmathewlulu commented on #256
Hi @davidmrdavid and @cgillum ,

I'm currently running the time.sleep instead of Snowflake API and looks like the issue persists.

The instance id - a536716bab684939af43511b96f7ad37 was supposed to finish in 11 minutes(660 seconds) but running since 40 min. And I'm sure it is because of  another concurrent job (instance id : f7a464ced93645fa942f0a5eed21c62f )which is supposed to sleep for 50 min(3

[2021-01-29 23:06] tmathewlulu commented on #256
I used the below Activity code

[code]

[2021-01-29 23:40] tmathewlulu commented on #256
a536716bab684939af43511b96f7ad37 (Supposed to run 11 min)- This finished at 1/29/21, 3:23:43 PM PST (Took almost 1 hr).  The instance : f7a464ced93645fa942f0a5eed21c62f which I suspected blocking the "11 min" one finished around 1/29/21, 3:12:45 PM (Took 54 min - almost expected time ).  Having said, there is a 10 min gap between the above run finish times and the "blocking theory" is not holding

[2021-02-01 18:42] davidmrdavid commented on #173
Hi @OD1995, sorry for my late reply. Ideally VSCode should automatically update and receive the new templates. Are you not getting them still?

[2021-02-01 21:36] tmathewlulu commented on #256
@cgillum @davidmrdavid Any update ?

[2021-02-02 03:01] nethmalw opened #259 "Durable function doesn’t complete activities (Python)"
I have an Azure Durable Function developed using Python (plus some other related libraries). The function Has a typical architecture:
contains an HTTP trigger which invokes the orchestrator. The orchestrator invokes some Activity Functions (some activity functions contain requests-POST and GET within them) along the way. The purpose of the whole function is to receive an image and read the charact

[2021-02-02 19:25] cgillum commented on #256
Hey @tmathewlulu sorry for the delay. Thanks for providing those activity logs. I'm looking at the first few entries:

timestamp [UTC] | message
-- | --
1/29/2021, 4:28:29.096 PM | Executing 'Functions.ExecSnowSQLDurableActivity' (Reason='(null)',   Id=2145600b-35b1-47f1-b247-9d1abb0d49dd)
1/29/2021, 5:16:14.347 PM | #################################

Can you confirm that the ##### log statement i

[2021-02-02 20:01] davidmrdavid commented on #259
Of course @vihanga-bandara!

Hi @nethmalw,

Thanks for reaching out! Hmm, this is interesting. I have seen issues like this due to out-of-memory exceptions, particularly when doing OCR. But before I start theorizing too much, I should ask for the following...

Could you please provide the following data so I can take a look at our telemetry?

- **Timeframe issue observed**:
- **Function App name**

[2021-02-02 22:40] tmathewlulu commented on #256
@cgillum  - You are right, if you are looking at an older log. In  most recent version of the code I have commented out the Snowflake API call part(which also have the ####### comment ). Having said, If I run the function now, you may not see the Python comment(##########...) .  Here is the current activity code for your ref. In this code I'm just using Python sleep statement instead of the Snowfl

[2021-02-04 00:01] cgillum commented on #132
I just ran into this today on accident and it definitely cost me a lot of debugging time. :( I'll try to take a closer look into it since I have a repro handy.

[2021-02-04 02:36] cgillum commented on #256
Hey @tmathewlulu just wanted to let you know I'm still looking into this. I found a few interesting but unrelated bugs while trying to set up this repro that have sidetracked me a bit.

[2021-02-04 03:05] tmathewlulu commented on #256
@cgillum  - Thanks for keeping me updated.   Fingers crossed for the RCA...:)

[2021-02-04 19:42] cgillum commented on #256
Alright, I set up a very simple repro app but I'm not seeing any unexpected delays in activity function execution. Here is my setup:

host.json:
[code]

**Starter**
[code]

**Orchestration**
[code]

**Activity**
[code]

To start the test, I send 10 concurrent HTTP requests to start 10 orchestrations. I observe that all 10 get scheduled almost immediately and then 5 activity functions start running

[2021-02-04 20:20] cgillum commented on #256
One important thing I discovered which might be related. The behavior of `FUNCTIONS_WORKER_PROCESS_COUNT` might be responsible for this. When I ran the above test, all of my python language worker processes had already been initialized. However, it actually takes several minutes for all these language workers to be initialized on any given instance, according to this documentation: https://docs.mi

[2021-02-04 23:07] tmathewlulu commented on #256
Hi @cgillum
Thanks for your analysis.  I was already running my "Activity" as async . I changed maxConcurrentActivityFunctions to "1" from "5" and tested. I ran concurrent jobs as usual and I can still see the long running behaviour . PFB the instance ID. It was supposed to finish in 6 min(360sec) but ran for 12 min.. probably due to another parallel process.

I'm running my testing by triggering

[2021-02-04 23:22] cgillum commented on #256
@tmathewlulu It's not enough to simply declare the function as `async`. You need to do that and also use `await` when doing any blocking operation.

https://stackoverflow.com/questions/50757497/simplest-async-await-example-possible-in-python

[2021-02-04 23:57] tmathewlulu commented on #256
Below is the high level format of the Durable functions. I have placed await  and async where it let me to.

**starter** -->
async def main():
   instance_id = await client.start_new()

**orchestrator** -->. (Cannot be asyc as per @davidmrdavid )
def orchestrator_function():
    result = yield context.call_activity()

**activity** --->
async def main():
  sleep()

[2021-02-05 00:13] davidmrdavid commented on #256
@tmathewlulu , I think your sleep statement should read
`await asyncio.sleep(5)`
from https://stackoverflow.com/questions/56729764/python-3-7-asyncio-sleep-and-time-sleep

[2021-02-05 02:27] tmathewlulu commented on #256
@davidmrdavid
I used await asyncio.sleep() but seems like the issue persists

ID : 4287366d86a3498db19c3436a62b99ca - Supposed to finish in 4 min, but took 7 min.

@cgillum - Can you explain why this issue is not there for C# Az Func but only for Python ?

[2021-02-06 01:17] cgillum commented on #256
@tmathewlulu I used `asyncio.sleep()` and I couldn't reproduce the issue anymore.

[code]

I then ran 14 orchestrations concurrently and all activities completed in exactly 60 seconds, no delays:

[code]

Independent of Azure Functions, Python was designed as a single-threaded runtime. This means that only one thread can be used to execute Python code at a time. If you block that thread, then no o

[2021-02-06 01:33] tmathewlulu commented on #256
Hi @cgillum  - Thanks for the detailed analysis. Can you retry your orchestrations with different sleep durations ?
Eg:
1 min, 2 min, 4 min, 8 min, 16 min
1min, 3 min, 9 min, 27 min.

I too tried with fourteen 60 seconds orchestrations - But still facing performance issues.

How I tested ? :  I ran my Azure DataFactory pipeline with Az function activity within it, triggering one pipeline after oth

[2021-02-06 06:42] tmathewlulu commented on #256
@cgillum  - Also one more question. Regarding the issue with Python's single threaded runtime . What design work-around could solve this issue ( We can't change the implementation of Python anyways!) ?

[2021-02-06 18:13] cgillum commented on #256
@tmathewlulu I ran another test with varying delays. 3 x 1 minute, 3 x 2 minutes, 3 x 4 minutes, 3 x 8 minutes, and 3 x 16 minutes. All 15 orchestrations were started at the same time and all executed in exactly the sleep time specified.  Here is the trigger, orchestration, and activity code I used:

**HTTP trigger**
[code]

**Orchestration**
[code]

**Activity**
[code]

Here are the logs for the

[2021-02-06 18:29] cgillum opened #260 "Weird orchestrator failure: the JSON object must be str, bytes or bytearray, not NoneType"
🐛 **Describe the bug**
I have a very simple orchestrator function that always fails with an error that I don't understand.

It seems like the problem must be something very basic, but I can't determine what it is. Here is the code:

**Orchestrator** _(this is the function that is failing)_
[code]

**Activity**
[code]

The activity function completes successfully as expected. However, when the orch

[2021-02-07 05:51] kemurayama commented on #260
Hi @cgillum ,

Durable Function failed when it serialize or deserialize the result of your activity function to/from JSON. I reproduced.
After I added `return` statement to your Activity function, it worked.

Activity Function
[code]

[2021-02-08 17:16] davidmrdavid commented on #260
Ah yes, this is a problem with the **python-worker**, which doesn't seem to play well with missing return statements. Let's use this ticket to track it for an upcoming python-worker release fix.

[2021-02-08 18:55] ConnorMcMahon commented on #256
@cgillum and @tmathewlulu, what versions of Python are you both running?

One thing to note is that [according to this link](https://docs.microsoft.com/en-us/azure/azure-functions/python-scale-performance-reference#set-up-max-workers-within-a-language-worker-process) Python 3.6-3.8 set the value of maximum synchronous workers to 1, but in Python 3.9, this value is not set by default, as it presuma

[2021-02-08 19:55] cgillum commented on #256
@ConnorMcMahon I'm using Python 3.7. I tried setting `PYTHON_THREADPOOL_THREAD_COUNT` to **10** and running a test where I ran 10 concurrent orchestrations with activities that do a blocking `time.sleep(30)` but I still got the same backlogging behavior where some activity functions reported running for 60, 120, or even 150 seconds. It's not clear to me whether changing the thread count had any af

[2021-02-08 23:55] cgillum commented on #256
**Update!**

So it turns out that `PYTHON_THREADPOOL_THREAD_COUNT` _does_ allow blocking functions to run in parallel! The reason that it didn't work in my test is because I did not remove the `async` keyword from my activity function declaration. As soon as I _removed_ the `async` keyword I was able to run all my activity functions in parallel successfully.

Here is another test that uses 10 seco

[2021-02-09 03:45] tmathewlulu commented on #256
@cgillum  - PYTHON_THREADPOOL_THREAD_COUNT to 10
That did not work. Would you mind sharing your entire working code in a zip file. I will create a brand new "Durable - Premium" function with that code and try to call from my data factory.

[2021-02-09 18:22] cgillum commented on #256
@tmathewlulu Here is my project in a zip file.
[TestPythonApp.zip](https://github.com/Azure/azure-functions-durable-python/files/5953387/TestPythonApp.zip)

[2021-02-10 00:15] tmathewlulu commented on #256
@cgillum @ConnorMcMahon  - My funcapp is Py3.8 runtime. Which one do you want me to try ?  I'm planning to start from scratch.

[2021-02-11 19:29] #173 closed

[2021-02-15 01:12] tmathewlulu commented on #256
Hi @cgillum , I have created a brand new funcapp (premium) and used your TestPythonApp code. However I'm still facing he issue.
Here is a sample run id -
Supposed to finish in 720seconds , but running for more than an hour.  I think if we don't use async in activity, the performance is real bad.

{"name":"ChrisDurableFunctionsOrchestrator","instanceId":"2e49a97c9cbb44968348514d8128e287","runtimeSt

[2021-02-15 19:12] tmathewlulu commented on #256
Also, @cgillum  ,

I have a different ADF batch job ( not the "sleep" one )

I  noticed that the issue is not limited to concurrent jobs. As you said before, the language worker process availability might be a reason. Below orchestrator-client output shows the starting time as 18:32 and ending time as 18:38. The actual activity was started around 18:37 - Which means it took almost 5 min to start t

[2021-02-16 16:32] davidmrdavid opened #261 "Create documentation for creating deterministic GUIDs"
As in title, originally requested here: https://github.com/MicrosoftDocs/azure-docs/issues/65513#issuecomment-779954089

[2021-02-16 19:28] cgillum commented on #256
I took a look at `2e49a97c9cbb44968348514d8128e287` and it appears to have gotten stuck - not related to performance. This would be a good one for us to follow up on separately, as I saw another case of a stuck orchestration that looks like this one recently.

Still need to look at your more recent instance...

[2021-02-16 20:09] cgillum commented on #256
I tried looking at `af450c5387364f1d8aee5325e31a4522` but I couldn't find any Durable-specific logs. I did find some generic functions logs but they had some unexpected data in them which makes me think there might be a logging issue with this app (@davidmrdavid you may want to take a look at this).

Using the logs you provided in the .xslx file (which are the most helpful - thank you!), it looks

[2021-02-16 20:25] tmathewlulu commented on #256
Hi @cgillum  - Here is the log for af450c5387364f1d8aee5325e31a4522
[orchestratorLog_af450c5387364f1d8aee5325e31a4522.xlsx](https://github.com/Azure/azure-functions-durable-python/files/5991453/orchestratorLog_af450c5387364f1d8aee5325e31a4522.xlsx)

Can you check this

[2021-02-16 20:53] cgillum commented on #256
Those orchestrator logs are interesting because it looks like the same activity function was scheduled to run twice.

2/15/2021,   6:37:37.393 PM | af450c5387364f1d8aee5325e31a4522:   Function 'ADFMetaExtractorActivity (Activity)' started. IsReplay: False.   Input: (636 bytes). State: Started. SlotName: Production. ExtensionVersion: 2.3.1. SequenceNumber:   5. TaskEventId: 0
-- | --
2/15/2021, 6:3

[2021-02-17 19:51] tmathewlulu commented on #256
Hi @cgillum  - What is the fundamental difference in way .NET/C# Durable Function is being executed vs Python Durable function being executed ? Can you explain in plain English ..lol :)

[2021-02-19 23:37] tmathewlulu commented on #256
@cgillum  - Do you have any update on this issue ?

[2021-02-20 00:04] davidmrdavid commented on #257
Hi @FaCoffee1984,

Sorry for the late reply, finally getting around this ticket. Are you still facing this issue? If so, could you please provide me with the following:
(1) A **recent** time-range of these events
(2) A **minimal** set of instructions to reproduce this issue? That would help us determine if this issue is on the durable side of things, or in the Azure DevOps-side of things

Thanks!

[2021-02-20 00:44] #258 closed

[2021-02-22 19:50] cgillum commented on #256
Hey @tmathewlulu the fundamental difference is with the underlying runtime itself. In .NET/C#, an app can use multiple threads to process concurrent requests. .NET will also automatically add or remove threads as needed. Python, however, was designed to just use one thread at a time. If you need anything to run concurrently in Python, then you need to manually configure it to have more threads.

T

[2021-02-22 21:20] cgillum commented on #256
So I think we're now talking about two different things. One is the concurrency behavior of Python functions. I think we've sufficiently covered this topic as far as I can tell and that there aren't any known issues requiring further investigation.

The other, regarding instance **af450c5387364f1d8aee5325e31a4522** where I saw a duplicate execution, it looks like the container your app was running

[2021-02-22 22:11] tmathewlulu commented on #256
[chrisFunction_d7743cf04f854dd3a65d6ae2a95493a7.xlsx](https://github.com/Azure/azure-functions-durable-python/files/6025468/chrisFunction_d7743cf04f854dd3a65d6ae2a95493a7.xlsx)

@cgillum  - Python concurrency issue - This issue persists.  The code you shared is not working. In the attached log, the orchestrator started at 2/22/2021,   9:49:27.026 PM
and activity started at 2/22/2021,   9:56:35.935

[2021-02-23 02:55] cgillum commented on #256
@tmathewlulu what were your values for `PYTHON_THREADPOOL_THREAD_COUNT`,  `FUNCTIONS_WORKER_PROCESS_COUNT`, `maxConcurrentActivityFunctions`, and `maxConcurrentOrchestratorFunctions`?

[2021-02-23 03:05] tmathewlulu commented on #256
@cgillum  -
This is the setting I used. I also tried without the below setting, also turned the activity to async + asyncio.sleep
    "FUNCTIONS_WORKER_PROCESS_COUNT": 1,
    "PYTHON_THREADPOOL_THREAD_COUNT": 10,

[2021-02-23 03:29] cgillum commented on #256
What about the other two concurrency settings in host.json?

[2021-02-23 07:21] tmathewlulu commented on #256
Hi @cgillum  - The other settings were not given. However I reran again with below settings...
--------------------------------------------------
"FUNCTIONS_WORKER_PROCESS_COUNT": 1,
"PYTHON_THREADPOOL_THREAD_COUNT": 10,
 "extensions": {
      "durableTask": {
        "maxConcurrentActivityFunctions": 5,
        "maxConcurrentOrchestratorFunctions": 5
      }
Also async qualifier for activity func

[2021-02-24 21:39] #195 closed

[2021-02-24 21:41] davidmrdavid commented on #195
Hi @josejohny123,
Just a heads up that the Enum I mentioned earlier in this thread will finally be exposed in the next release of Durable Python. Our docs will also be updated to reflect this change. The approach we discussed here will continue to work, but a better alternative (via Enum comparisons) will be available. You can read more about it here: https://github.com/Azure/azure-functions-durab

[2021-02-24 21:42] davidmrdavid commented on #257
Closing this issue due to inactivity. Please re-open it if the issue continues, with the context requested above. Thanks! ⚡ ⚡

[2021-02-24 21:42] #257 closed

[2021-02-26 23:15] #261 closed

[2021-03-09 18:08] davidmrdavid commented on #256
Hi @tamathew!

It appears this issue hasn't gotten activity in a bit so I was wondering if it was resolved for now. Just asking as part of our regular GitHub maintenance and clean-up work. Thanks!

[2021-03-09 18:20] #154 closed

[2021-03-09 18:21] davidmrdavid commented on #259
Closing this issue for now due to inactivity, please re-open if the issue continues! Thanks!

[2021-03-09 18:21] #259 closed

[2021-03-09 18:46] tamathew commented on #256
Hi @davidmrdavid  - I did not get a time to do my final round of testing.  Will update this thread once I'm done.

[2021-03-12 13:56] janpiskur opened #271 "Is passing a paramter to an orchestrator possible?"
Dear team!

Thank you for developing durable functions for Python. I am really glad to use them in my work. :-)

Is passing a paramter to an orchestrator possible? Something like this?

https://<function name>.azurewebsites.net/api/orchestrators/<my orchestrator>?<my parameter>=<value>

I am asking because I want a user to pass a parameter to the service and then to call the function.

If not, wha

[2021-03-12 17:09] ConnorMcMahon commented on #271
This is supported @janpiskur. The value provided to the body of that request is passed into your orchestration. You should use JSON to represent this input.

This is briefly mentioned in [our documentation](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-api#response) when describing an example of how to use the API, but it could definitely be more explicit.

[2021-03-21 04:53] tamathew commented on #256
Hi @cgillum @davidmrdavid  - I'm intermittently seeing issues with Azure Python durable function. However I rewrote my code in chsarp to execute Snowflake SQL queries and it worked well. So we decided to go with csharp runtime for now.

[2021-03-22 17:36] davidmrdavid commented on #256
Hi @tamathew - Sounds good. Glad to know you got unblocked at least. As Durable Python continues to mature, I'm sure we'll see more use-cases with ADF and Snowflake SQL so do check back-in in the future. I'll be closing this issue for now. _Thanks!_

[2021-03-22 17:36] #256 closed

[2021-03-24 20:12] mdlopresti opened #272 "Suborchestration Documentation missing"
Not sure if this is the right repo, but https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-sub-orchestrations does not mention python support.

Support for suborchestrations in python was added in #157

[2021-03-24 20:21] davidmrdavid commented on #272
Hi @mdlopresti, thanks for reaching out! Ah yes, good catch, seems like we somehow forgot to add Python examples. I'll add this as a work-item to our current sprint!

In the meantime, if you need assistance using sub-orchestrators in Python, please let us know and I'd be happy to assist in the meantime. Thanks! ⚡ ⚡

[2021-03-24 20:30] mdlopresti commented on #272
Thanks for the offer, but I'm good.  The javascript example and the python API doc got me enough data to get my use case solved after a bit of trial and error.

Just wanted to make sure that the next person had an easier time.

[2021-03-24 23:08] msarm opened #273 "Durable Functions stops running randomly after sometime with NullReferenceException in AzureStorage"
🐛 **NullReferenceException generated randomly while running Durable Functions in local & cloud**
[code]

[2021-03-24 23:24] davidmrdavid commented on #273
Hi @msarm! Thank you for reaching out! Is there a minimal reproducer for this issue? That would help us debug this faster. Thanks! ⚡ ⚡

[2021-03-26 02:38] msarm commented on #273
I

I'm unable to narrow down the exact scenario but I've seen in the following cases this issue appear
- when the record count is high in DurableTaskHistory table (>50K)
- When two or more "Timer Trigger" functions run along with Durable Functions
- Functions after running straight 4 - 12 hours

[2021-03-29 16:11] davidmrdavid opened #274 "Validate the RollbackOnException setting for Entities"
As in title.
From: https://github.com/Azure/azure-functions-durable-extension/issues/1751

[2021-03-29 20:32] davidmrdavid opened #275 "Review documentation for Singleton pattern"
Follow-up to: https://github.com/MicrosoftDocs/azure-docs.es-es/issues/771
It appears that the current approach of checking for a non-null output for `getStatus` might be faulty.

[2021-04-01 09:31] mahrtynas opened #276 "Unable to import opencv package in activity functions"
🐛 **Describe the bug**

Activity function (running on Azure) fails when trying to `import cv2`:  `Failure Exception: ImportError: libGL.so.1: cannot open shared object file: No such file or directory.`. I have tested switching from `opencv-python` to `opencv-python-headless` (4.5.1.48) but the same error persists. There are work arounds for the regular azure functions that suggest creating custom

[2021-04-01 16:35] davidmrdavid commented on #276
Hi @mahrtynas,

Thank you for reaching out! Yeah I do recall seeing issues like this before. I'll be adding this ticket as a to-investigate issue for our current sprint. In the meantime, I believe any solution that would work for Azure Functions _should_ also work for Durable Functions. Could you try, and let us know if it unblocks you, while we investigate this?

cc\ @anthonychu

[2021-04-01 20:54] stefanushinardi commented on #276
Hello @mahrtynas, are you on consumption or elastic premium plan?

[2021-04-02 06:46] mahrtynas commented on #276
@davidmrdavid I'll test out with a custom image then and get back to you.

@stefanushinardi it was running on a dedicated app service plan, but I've tried the same function on elastic premium plan as well. The dependency was still missing though.

[2021-04-02 16:31] davidmrdavid commented on #276
Thanks @mahrtynas. I did follow-up internally and apparently this issue was recently fixed in the Consumption plan here: https://github.com/Azure/azure-functions-python-worker/issues/497 . I'm not entirely sure if this was a known issue in the other plans though, but I did get a recommendation to use a custom constainer and install `libopencv-dev` if you were facing this issue. So, to summarize, t

[2021-04-05 19:10] multipleofzero opened #280 "Orchestrations stuck in running state"
### Description

I am using Fan-out/fan-in to do a two step calculation. The first step, "CalculateRouteProfile",
calls a third party API that returns data used in the second step "CalculateCo2FromRouteProfile".

The calculation is triggered by an HTTPStarter.

When running this for about 15'000 inputs, some of the calculations never seem to finish (most
of them do, though). The ones that do not f

[2021-04-06 23:01] davidmrdavid opened #277 "Proposal: Support Entity Locking"
We need to support the Durable Functions `lock` API that allows users to establish a critical section for serial Entity updates. I believe this would be the first OOProc PL to support this feature, so I want to make sure we're in the same page about how we plan to implement it.

I imagine the API would be `yield`able, giving us an opportunity to pause the orchestrator execution if the lock cannot

[2021-04-06 23:24] davidmrdavid opened #278 "Proposal: Support Class-Based Syntax for Python Entities"
Currently, Entities in Python (and JavaScript) only support  function-based syntax, where operations are delineated by a cascade of if-statements. In C#, a class-based syntax is supported, which allows individual operations to be split into methods belonging to a larger class that represents the Entity itself.

Implementing this alternative syntax should not be too difficult, it's mostly just a la

[2021-04-07 07:54] adeliabt commented on #207
The distributed tracing functionality doesn't seem to work with a service bus triggered-orchestrator. Is there another way to link the activity function logs with the orchestrator?

[2021-04-07 12:26] kulkarnisuraj92 opened #279 "Orchestrator function is getting stuck in pending status"
🐛 **Describe the bug**
I am triggering durable function from data factory. Using foreach activity when I trigger durable function parallelly with different input parameter only one out of them runs and rest of them go to Pending status ("runtimeStatus":"Pending"). In other scenario if there already one instance of durable function running and if I trigger it again then newly triggered instance goe

[2021-04-07 15:20] mahrtynas commented on #276
@davidmrdavid I've tried switching to the Consumption plan and it seems that opencv works fine there. However, I had issues with another dependency, so I proceeded with the custom image and everything worked fine, so I guess that's the option that I'll use, but it'd be convenient if other plans supported opencv.

[2021-04-07 15:40] cgillum commented on #279
From your description, it sounds like you are seeing delays when running multiple functions in parallel. You might be running into concurrency issues with the Azure Functions Python worker.

As a first step, take a look at this documentation for more info on Python function concurrency, as well as some potential mitigations: https://docs.microsoft.com/en-us/azure/azure-functions/python-scale-perfo

[2021-04-07 16:17] kulkarnisuraj92 commented on #279
Sure Chris, I'll take a look at given references.

Currently I havent set any parallelism related properties in host.json. Just to give more information when I triggered my pipeline now this particular orchestration
706a261287984d40a7372f1d34298ddf took around 50 minutes to get completed. But in function I am calculating time taken for execution and it was less than 1 minute.

[2021-04-07 17:06] davidmrdavid commented on #276
Thanks for confirming @mahrtynas, and I agree with your sentiment than OpenCV would ideally work out of the box anywhere. I'll follow-up internally to check about this. In the meantime, it seems we've found a solution for I'll close this issue. Thanks!

[2021-04-07 17:06] #276 closed

[2021-04-07 17:15] cgillum commented on #279
@kulkarnisuraj92 right - this is because the execution logs for Functions measure the time at which a particular function was _scheduled_ to run and the time it completed. In your case, however, a function was scheduled to run but got blocked by the Python concurrency settings for ~50 minutes, after which it was able to start and complete quickly.

It's a really unfortunate design of the Python la

[2021-04-08 07:37] wallflower762 commented on #207
Hi there,

Any update on this issue? I have a collection of activity functions that I orchestrate and I would really like to be able to see all related logs for a specific 'run'. I have been trying to work around the issue by tagging logs with a common GUID, but this is much easier said than done https://github.com/Azure/azure-functions-python-worker/issues/694.

Having a dimension with a GUID com

[2021-04-08 15:56] cgillum commented on #207
Adding @bachuv who is going to be taking a deeper look at our distributed tracing support.

[2021-04-08 17:04] dmbuk commented on #279
I am experiencing the same issue as @kulkarnisuraj92, every consecutive call triggered by HttpTrigger is stuck in the "pending"  state whilst the first Orchestrator still running.
![2021-04-08_17h59_57](https://user-images.githubusercontent.com/70722860/114067118-5dba3c00-9894-11eb-8f0a-628ad995e46e.png)
Running instance ID: 811a2b8792534a35a085f6c06fdafba4
Pending: a4eca109c31b44df86f3aa3305feeae

[2021-04-08 18:26] adeliabt commented on #207
it works for me by following the steps described here: https://github.com/Azure/azure-functions-durable-extension/blob/dev/samples/correlation-csharp/getting-started.md

but what I noticed is that the activity function invocations don't appear anymore in the function's Monitor > Invocations list. It seems because that query filters by cloud_roleName and operationName. And with distributed tracing

[2021-04-09 00:35] wallflower762 commented on #207
@adeliabt that guide looks like it works, but is in C#. I am working in Python and have not found an equivalent package, if you come across one please let me know :)

I have found another guide for tracing durable functions: https://github.com/Azure/azure-functions-python-worker/issues/788 which I am planning on trying today.

[2021-04-12 22:41] ConnorMcMahon commented on #280
I realize my previous instructions regarding potential memory issues didn't cover the workaround. Instead of passing huge inputs directly as activity inputs/outputs, you can have your activity store the processed data in a blob and then pass around a reference to that blob. This has huge benefits from both a perf standpoint and a storage IO cost perspective, as you only fetch the data when you act

[2021-04-13 13:18] scherand commented on #280
I will try to figure this out and will update this issue with my findings.

I will see what I can come up with; and again, update this issue with my findings.

Thanks very much for the hint (as well as the workaround you provided later!). I think I understand where the problem lies. We did see "Python exited with code 137" errors some time (but I did not notice any in the execution under investiga

[2021-04-14 07:53] scherand commented on #280
Unfortunately I do not seem to be able to collect the information you asked for in 1. I cannot find the cases where `CalculateRouteProfile` failed.

What I did is use the Monitoring menu of the `CalculateRouteProfile` function (cf 01_calc_profile_monitor.png) where 124 Errors are reported in the last 30 days. They do not show up in the list below, presumably because the list shows the most recent

[2021-04-16 06:34] kulkarnisuraj92 commented on #279
Hi Chris, I was able to resolve pending status issue by following your suggestions. (increased FUNCTIONS_WORKER_PROCESS_COUNT, PYTHON_THREADPOOL_THREAD_COUNT)

[2021-04-16 06:34] #279 closed

[2021-04-16 16:22] cgillum commented on #279
Awesome. Thanks for following up @kulkarnisuraj92!

@dmbuk no need to replace `yield` with `async`. That actually wouldn't be allowed anyways. :) Definitely take a look at the documentation I liked to. Some things you can try are playing with those config values that I mentioned, and making your Python _activity_ functions fully async (they must be _fully_ async or else the situation could get wor

[2021-04-20 15:47] priyaananthasankar commented on #254
+1 to supporting local emulation of storage for mac/linux. Eventually folks move on to some cloud storage or emulated virtual windows box running a storage emulator - but this is a huge developer experience tiny cut.

[2021-04-20 17:58] ConnorMcMahon commented on #254
@priyaananthasankar, there is work being done to support Azure Tables in Azurite so that Durable Functions can run entirely locally on non-Windows devices. I would expect an announcement in the near future.

[2021-04-21 07:11] multipleofzero commented on #280
I have switched to using blob storage and references to blobs to pass the results from one activity function to the next now. As you assumed, this alone does not solve the issue though.

I could not find any orchestration instance that fulfills your request in 1., i.e. that did succeed but had a failed call to `CalculateRouteProfile`. And I see the difference in number of calls to `CalculateRouteP

[2021-04-21 14:08] multipleofzero commented on #280
I now have an orchestration id of a run where there does not seem to be any error in `CalculateRouteProfile` but still it does not terminate: `9c7a8fceb0dd4ddf9f94119cc4262184`. This is from a run without `_with_retry` which seems to make the "perpetual orchestrations" (almost) go away (the one I have listed is the only one in 1000+). However, I have to deal with failed orchestrations now (rewindi

[2021-04-21 17:59] davidmrdavid commented on #280
Hi @multipleofzero

Thank you for the detailed information, this helps us a lot. I want to take a step back and ask about this sentence you made two comments ago: "**And I see the difference in number of calls to CalculateRouteProfile vs CalculateCo2FromRouteProfile!**"

When you say that, do you mean that you see the difference in orchestration history log, or that you see the difference via a lo

[2021-04-21 22:26] multipleofzero commented on #280
@davidmrdavid

Unfortunately I was referring to the first: I see a difference in the orchestration history log table. Somehow I am not able to find the logs for my orchestration instances (other than when live streaming?). There is a log statement that should show the counts; if only I was able to get at the logs...

[2021-04-22 19:15] davidmrdavid commented on #280
@multipleofzero, we should be able to help with that. Do you mind showing us how you're logging and how you're trying to retrieve those logs? and does your application have Application Insights enabled?

[2021-04-22 20:20] scherand commented on #280
@davidmrdavid

Awesome!
And yes, Application Insights is (are :P) enabled.

I have tried two approaches, one via `logging.info()` and one via setting `custom_status`. For example, there is a custom state set when the orchestrator_function starts:

[code]

Then, before calling `CalculateRouteProfile` a custom status is set:

[code]

And before calling `CalculateCo2FromRouteProfile` the custom statu

[2021-04-25 21:26] AHaryanto opened #281 "Exception: ModuleNotFoundError: No module named 'azure.durable_functions'"
🐛 **Describe the bug**

I’m having an issue running durable functions in Azure. The durable functions run correctly on my local computer, but for some reason is not running on Azure. I’ve followed the steps in the [Python Durable Functions quickstart](https://docs.microsoft.com/en-us/azure/azure-functions/durable/quickstart-python-vscode) but I’m receiving a 500 Internal Server Error, 502 Bad Gate

[2021-04-26 16:45] davidmrdavid commented on #281
Hi @AHaryanto,

Thanks for reaching out! Ah yes, I've seen this error before, it's a sneaky one. Thank you for looking into the troubleshooting guide, that's half the battle. So, from your description, it appears this is a dependency building issue due to the missing linux tag. Did you already try one of the two suggested solutions [here](https://docs.microsoft.com/en-us/azure/azure-functions/reco

[2021-04-26 17:20] davidmrdavid commented on #207
Hi all,

We're looking into these issues, but I think there are a handful of related, but ultimately distinct, issues being discussed in this thread.

@wallflower762, @adeliabt, you could please _each_ open a new issue (feel free to link it in this thread) describing your scenario, and provide a minimal reproducer of it? A zip file, or a link to a repro with the code, should do for a reproducer. T

[2021-04-27 00:20] davidmrdavid commented on #280
Hi @scherand!

Great to hear that Application Insights is enabled, that's half the battle! My understanding is that logging to Application Insights from a Python application requires just a tad more setup. There might be an easier way to do this, but let me give you _my way_ and hopefully that's enough to fast-track us towards getting this runtime data.

So we're going to follow the general setup

[2021-04-28 07:34] AHaryanto commented on #281
Hi @davidmrdavid,

Thanks for getting back to me with some recommendations.

Remote build had already been enabled.
![image](https://user-images.githubusercontent.com/41604701/116363227-c3288b00-a7b7-11eb-81b2-a4e93d7fe387.png)

I wanted to believe my Azure Functions Core Tools is not too far outdated
![image](https://user-images.githubusercontent.com/41604701/116363615-2d413000-a7b8-11eb-8b10-afb

[2021-04-28 18:26] bachuv commented on #207
@vstrien, have you tried enabling distributed tracing for your Durable Functions app? Enabling distributed tracing allows you to see end-to-end transactions based on an `operationId` that correlates client, orchestrator, and activity functions. You can find more information about it [here](https://github.com/Azure/azure-functions-durable-extension/blob/dev/samples/correlation-csharp/getting-starte

[2021-04-28 22:31] davidmrdavid commented on #281
Hi @AHaryanto,

Good to hear you got it working! I suppose this ticket is then good to resolve, is that right?
I do have a clarifying question about your fix though, what specific `azure-functions-durable` version were you pinning to prior to your change in `requirements.txt`? I'm surprised that there was some specific version which did not build.

[2021-04-29 03:05] AHaryanto commented on #281
Yeah, we can close this ticket. I pinned it to version 1.0.0, which is the latest version in pip. I find this bizarre too but this is the suggestion that Microsoft Support had for me.

[2021-04-29 16:53] davidmrdavid commented on #281
Sounds good. I'll keep this open because I want to investigate further, but we'll consider the issue effectively resolved. Thanks!

[2021-04-29 19:26] AHaryanto commented on #281
@davidmrdavid I sent out an email to the email address on your profile.

[2021-04-30 10:14] martijnlentink commented on #278
Sounds like a great addition. I've was experimenting with this by using a proxy with the current implementation. Something along the lines of

[code]

There are some caveats here with this implementation. The first mentioned in the code, we will need an internal function for the retrieval of the input that we can pass as `kwargs` to the functions, such that we won't need to do checks like we did h

[2021-04-30 21:37] martijnlentink commented on #278
I'm unaware of the Singleton nones you refer of, but sounds reassuring that this issue will be easy to cope with.

As of the multiple instance variables, looking at this medium https://link.medium.com/kJxLNjB4Sfb article it does look like multiple values can be used, which would support our case of using such decorator.

I'll be happy to help with the implementation if needed, although I have to a

[2021-05-02 13:59] zecloud opened #282 "Input Blob Binding name fails with an activity trigger"
🐛 **Describe the bug**
Input Blob Binding name fails with an activity trigger

🤔 **Expected behavior**
activity function takes a string argument (the name of a blob) and uses that value to bind to blob input

☕ **Steps to reproduce**

try to bind a blob name to the value passed in an activity trigger

{
  "scriptFile": "__init__.py",
  "bindings": [
    {
      "name": "name",
      "type": "activ

[2021-05-03 14:58] scherand commented on #280
Hi @davidmrdavid

Thank you very much for the detailed instructions!

After a bit of trial and error I realise that the two main pieces of information I was missing were the "traces-query"

    traces
    | where * contains "my_debug_category"

and the fact that I can get the orchestration instance Id via `context._instance_id`.

With this, my code which is currently using statements like

[code]

[2021-05-03 17:14] davidmrdavid commented on #280
Great! Please let us know if you're able to reproduce the error and gather this data! If a week or so goes by and no luck, we consider other options

[2021-05-03 17:16] davidmrdavid commented on #282
Thanks @zecloud for the bug report. Do you have a zip'ed reproducer (or a repo we can clone) for us to test this scenario? That would help us get to the bottom of this faster. Thanks!

[2021-05-03 22:08] zecloud commented on #282
I tried to reproduce the scenario here
[https://github.com/zecloud/HelloDurableFunctions](url)
It seems the binding expression add double quote in the blob path

[2021-05-04 15:17] LarsHanegraaf opened #283 "Unit test documentation for orchestrator"
Hi all,

💡 **Feature description**
Documentation on how to unit test your own orchestration for the different orchestration patterns.

💭 **Describe alternatives you've considered**
Currently I'm a little bit lost on how to test my orchestrator that does series of parallel calls (somewhat similar to the [fan out/fan in pattern](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-

[2021-05-04 17:25] davidmrdavid commented on #283
Hi @LarsHanegraaf,

Thank you for reaching out! Your timing is quite good here because I was just thinking about improving our documentation around testing for Python, as well as our JavaScript offering. Broadly speaking, I agree that the mocking approach you list in your first bullet point is probably the most advisable, although I'm currently **not** fully familiar with the way that repo goes ab

[2021-05-05 09:19] LarsHanegraaf commented on #283
Hi @davidmrdavid,

Cool! Good to hear! At the moment I'm not able to create a minimal reproducer, but will do that tonight or tomorrow in a new repo and let you know!

Thanks!

[2021-05-05 09:22] kemurayama commented on #283
Hi,

If your orchestrator function depends on the result of activity functions (such as `if` statement) , `send()` method may help.

Since orchestrator function works as a generator function in test, its behavior is different from Azure Function.

Orchestrator Sample
[code]
Unit Test sample
[code]

This unittest fails if your orchestrator depends on activity func result because `result1` doesn't h

[2021-05-05 23:56] davidmrdavid opened #284 "Create DF unit testing samples"
We need unit testing samples, and a documentation page walking over them, so that users can have a reference on how to properly test their orchestrations.

[2021-05-06 16:52] scherand commented on #280
I ran another batch of calculation today in the storage account `co2routecalculatordev`. I deliberately re-enabled `call_activity_with_retry` for this run, hoping to be able to get better telemetry.
The calculation started 1263 orchestration instances of which 66 seem to be stuck in `processing` state now.

I am able to get at the logs of these orchestration runs using the `traces` query @davidmrd

[2021-05-07 00:03] davidmrdavid commented on #280
Hi @scherand,

Thanks for this update, I've been looking at the logs for `9fdf1d3ac0494b459f1372d6ac489452` which appears to have a single failed execution attempt for `CalculateRouteProfile`.

A few questions about your comments.
(1)
What did you mean by:

I would appreciate it if you could answer this with concrete numbers.

(2)

Could you point me to the timestamps, and maybe a screenshot or wh

[2021-05-07 00:07] davidmrdavid commented on #280
Also, what was the size of `chunk_profiles` for InstaceID `9fdf1d3ac0494b459f1372d6ac489452 `

[2021-05-07 00:44] davidmrdavid commented on #280
Ok final request, it would also help, just to understand the internal state during these errors, if you could also provide / **log** the values for `context._histories` right before your scheduling of `CalculateCo2FromRouteProfile` activities. With that, we can understand the decisions the Python SDK made. On a single orchestration execution (until it gets stuck) you should be receiving multiple s

[2021-05-07 08:27] LarsHanegraaf commented on #283
Thanks a lot @kemurayama! This makes it possible to unit test my orchestrator.

However, I have a few questions about how I can make the testing easier in the following situation:

Orchestrator sample

[code]

Using your approach it is possible to 'patch' the return value of the `yield context.task_all()`, however I have to decide myself which value I should return for the `task_all()`. Which make

[2021-05-07 23:39] davidmrdavid commented on #280
Hi @scherand,

Thank you for this detailed answer. I'm going to write down some utilities that should help you get us data to understand the internal state of the framework when making these decisions, but I'll need some time. Let me ping back early next week. Until then, no need to log `context._histories`, you'll probably need some of those utils to get the right data from there anyways :)

[2021-05-10 00:42] kemurayama commented on #283
Hi @LarsHanegraaf,

I thought you would like to test your Orchestrator's logic works correctly against the result of your activity functions `ListCustomers`
 which is dynamically changing. Am I understanding right ?

In your Orchestrator unit test, you may need `customers` list, so `send()` need to be called for the first `yield` ( `call_activity('ListCustomers', city)`) in your test. Other `call_

[2021-05-11 19:39] priyaananthasankar opened #286 "Unable to locally start durable functions"
🐛 **Describe the bug**
Created a brand new function app using `func init . --worker-runtime=python` and created the following cookie-cutter apps:
- http start
- orchestrator
- activity (basic Hello app)

created virtual environment `python36 -m venv env` and activated it and made sure I pip installed all the requirements
`azure-functions`
`azure-functions-durable`

And when I did func host start,

[2021-05-12 00:22] freedev opened #288 "Unhandled exception with work item - exception while writing in Azure Service Bus Topic"
🐛 **Describe the bug**

I have an Azure Function App with 3 functions:

- serviceBusTrigger - read and process 1 message from a topic service bus then sends 2 messages to the activity (throught the orchestrator)
- orchestrationTrigger - route the messages to the activity
- activityTrigger - send the messages to another topic

The bug (IMHO) is in the activity, it raises an exception only when runn

[2021-05-12 09:05] LarsHanegraaf commented on #283
Hi @kemurayama,

Thanks for the explanation! Indeed I wanted to test the logic of my orchestrator that both contains if-else logic and the `task_all()` function.

I already implemented assertions that check for calls in the `call_args_list` of the mocks, but now I'm sure that is the correct way to go.

Thanks!

[2021-05-12 09:05] #283 closed

[2021-05-12 18:14] davidmrdavid commented on #288
Hi @freedev,

Thanks for reaching out. This is interesting, bugs that occur only in some OS'es but not others are often symptoms of something that occurs at a layer lower than the Durable Functions framework, but I'm happy to help get to the bottom of this. What are you using as a storage provider when developing on MacOS? Is it Azurite, or some azure storage connection string?

[2021-05-12 19:44] freedev commented on #288
Hi @davidmrdavid, thanks for coming back to me, the problem was related to a misconfiguration in the local.settings.json. I think we can close the ticket. Thanks again for your help.

[2021-05-12 19:44] #288 closed

[2021-05-13 11:08] richardlewistamr opened #289 "Please add failsIfInstanceFailed parameter like .NET code"
💡 **Feature description**

Essentially its an optional parameter failsIfInstanceFailed on the create_check_status_response method.
I am using Python for my durable functions so would like this added to the python code.

💭 **Describe alternatives you've considered**

[2021-05-13 16:50] davidmrdavid commented on #289
Thanks for this feature request! We're currently mid-sprint so I'll need about two weeks before I can triage this, but I wanted to acknowledge this ticket before then 😄 .

In the meantime, it would help me to understand this "divide by zero" alternative that you describe. Could you provide some minimal example? Thanks!

[2021-05-19 13:41] richardlewistamr commented on #289
Hi David,  thanks for responding so quickly, sorry I didn't get back to you until now.    The divide by zero alternative would look something like this , see image
![image](https://user-images.githubusercontent.com/43956391/118822781-5aad6500-b8b0-11eb-8c40-24929323ce92.png)

[2021-05-19 17:31] davidmrdavid commented on #289
Ah I see what you meant now. Alright then, we're nearing the end of our internal sprint so I should be able to prioritize this ticket after our release wrap up next week!

[2021-05-22 12:23] zecloud opened #290 "continue_as_new doesn't seem to work"
If my understanding of the eternal orchestration is correct the following code should run the activity every hour.

[code]

🤔 **Expected behavior**
it doesn't seem to work that way, it runs the activity once. And after one hour the orchestrator runs but not the activity. It doesn't run after that but the orchestrator stays in the running state.

☕ **Steps to reproduce**
Just try this code with a s